{% extends 'place/base.html' %}
{% block content %}
<div class="content">
  <div class="content-top">
    <div class="content-title">
      <div class="content-title__name">{{place.name}}</div>
      <div class="content-title__info">
        <span class="content-title__img"><i class="fa-solid fa-circle-user"></i></span>
        <span class="content-title__location">{{place.user}}</span>
        <span class="content-title__bar">|</span>
        <span class="content-title__published">{{place.published_at|date:"Y. m. d" }}</span>
      </div>
    </div>
    <div class="content-right">
            <div id="main_detail__top__like">
              <button id="{{place.id}}" onclick="place_like(this.id)">
                좋아요
                <span id="like_count">{{place.likes}}</span>
            </button>
            </div>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button onclick="dp_menu()" class="button"><i class="fa-solid fa-ellipsis"></i></button>
          <div style="display: none;" id="drop-content">
            <ul class="option-list">
              <li class="option">
                <form action="{% url 'place:delete' place.id %}" method="post">
                  {% csrf_token %}
                  <button>삭제</button>
                </form>
              <li class="option_blank"></li>
              </li>
              <li class="option"><a href = "{% url 'place:update' place.id %}">수정</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
    </div>
  </div>

  <div class="wrap-vertical">
    {% for image in images %}
      {% if image.place == place %}
      <img src="{{image.image.url}}" width="500" alt="">
      {% endif %}
    {% endfor %}
  </div>
  <hr style= "color: #BCBCBC; height:1px; width: 100%; opacity: 1;">
    <div class="content-item">
      <div class="content-item__title">상세정보</div>
      <div class="content-item__top">
        <div class="content-item__left">
          <div>장소 분류</div>
          <div>운영 시간</div>
          <div>와이파이</div>
          <div>콘센트</div>
          <div>별점</div>
          <div>위치</div>
        </div>
        <div class="content-item__right">
          <div>{{place.get_category_display}}</div>
          <div>{{place.opening_time}}~{{place.closing_time}}</div>
          <div>{{place.get_wifi_display}}</div>
          <div>{{place.get_power_socket_display}}</div>
          <div>{{place.rating}}</div>
          <div>{{place.location}} {{place.location_detail}}</div>
        </div>
      </div>      
    </div>
    <hr style= "color: #BCBCBC; height:1px; width: 100%; opacity: 1;">
    <div class="content-item">
      <div class="content-item__title">후기</div>
      <div class="content-item__content">{{place.content | safe }}</div>
    </div>
    <hr style= "color: #BCBCBC; height:1px; width: 100%; opacity: 1;">
    <div class="content-item" style= "width:1180px;">
      <div class="content-item__title">지도</div>
      <div id="map" style="height:400px; margin: 1.5rem 0;"></div>
    </div>

    <div id="main_detail__comment">
      <div id="main_detail__comment__top">
        <div id="main_detail__comment__blank">
          <h2>댓글</h2>
          <h2 id="main_detail__comment_num">{{comments_len}}</h2>
        </div>
        <div id="main_detail__comment__rule">
          <span>300자 이내 작성</span>
        </div>
      </div>
      <div id="main_detail__comment__blank_box">
        <form action="{% url 'comments:write-place' place.id %}" method="post">
          {% csrf_token %}
          <textarea
            type="text"
            name="content"
            id="comment_input_box"
            cols="30"
            rows="10"
            placeholder="댓글을 입력해주세요."
          ></textarea>
          <div id="main_detail__comment__btnplace">
            <input
              type="submit"
              id="main_detail__comment__btn"
              value="댓글쓰기"
            />
          </div>
        </form>
      </div>
      <div id="main_detail__comment__contents">
        {% for comment in comments %}
        <div id="main_detail__comment__each__contents__{{comment.id}}">
          <div id="main_detail__comment__contents__profile">
            <div id="main_detail__comment__contents__img">
              <i class="fa-solid fa-circle-user fa-2x"></i>
              <img src="{{review.user.profile_img}}" alt="profile_img"></img>
            </div>
            <div id="main_detail__comments__contents__info">
              <div id="main_detail__comments__contents__name">
                <span>{{comment.user.nickname}}</span>
              </div>
              <div id="main_detail__comments__contents__time">
                <span>2022-07-28</span>
              </div>
            </div>
          </div>
          <div id="main_detail__comment__contents__txt__{{comment.id}}">
            <span>{{comment.content}}</span>
          </div>
          <div id="main_detail__comment__contents__reply">
            {% comment %} 답글 테스트로 여기 위치
            {% for recomment in comment.comment_set.all %}
            <div>{{recomment.content}}</div>
            {% endfor%} {% endcomment %}
            <div id="main_detail_comment_contents_reply_form__{{comment.id}}"></div>
            
          </div>
          {% if comment.user == request.user %}
          <button onclick="changeForm({{comment.id}}, '{{comment.content}}');">수정</button>
          <button onclick="onClickdelete({{comment.id}})">삭제</button> 
          {% endif%}
          <button onclick="changeForm2({{comment.id}});">답글</button>
          <br />
        </div>
        {% endfor %}
      </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function dp_menu(){
      let click = document.getElementById("drop-content");
      if(click.style.display === "none"){
          click.style.display = "block";
      }else{
          click.style.display = "none";
      }
  }
  
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('{{place.location}}', function(result, status) {

    // 정상적으로 검색이 완료됐으면 
    if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">{{place.name}}</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
    });  
    
  const sp = document.getElementById('main_detail__comment__contents__txt')
  let idd = null;
  
  const changeForm = (id, content) => {
    idd = id;
    const revise = document.getElementById(`main_detail__comment__contents__txt__${id}`)
    revise.innerHTML = `<form action="/comment/revise/${id}" method="post">{% csrf_token %}<textarea type="text" name="content">${content}</textarea><input type="submit" value="등록"/><a href="{% url 'place:detail' place.id %}">취소</a></form>`
  }

  const changeForm2 = (id) => {
    const recomt = document.getElementById(`main_detail_comment_contents_reply_form__${id}`)
    recomt.innerHTML = `<form action="/comment/recomment/${id}" method="post">{% csrf_token %}<textarea type="text" name="content"></textarea><input type="submit" value="등록"/><a href="{% url 'place:detail' place.id %}">취소</a></form>`
  }

  const requestDelete = new XMLHttpRequest();

  const onClickdelete = (id) => {
      const url = "/comment/delete";
      requestDelete.open("POST",url,true);
      requestDelete.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
      );
      requestDelete.send(JSON.stringify({'id':id}));
  }

  requestDelete.onreadystatechange = () => {
      if (requestDelete.readyState === XMLHttpRequest.DONE){
          if(requestDelete.status < 400){
              const {id, len} = JSON.parse(requestDelete.response);
              const topdom = document.getElementById("main_detail__comment__contents");
              const deletedom = document.getElementById(`main_detail__comment__each__contents__${id}`);
              topdom.removeChild(deletedom);
              const cmtLen = document.getElementById('main_detail__comment_num')
              cmtLen.innerHTML = len
          }
      }
  }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
function place_like(id) {
    $.ajax({
        url: "{%url 'users:likes' 2 %}", // data를 전송할 url 입니다. place = 2
        data: {
            'id': id
        }, // id 값 전송
        dataType: "json",
        success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
            $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
            if (response.error) {
              window.location.replace("http://127.0.0.1:8000/account/login"); // 배포용 서버로 변경
            } 
        }
    })
}
</script>
{% endblock %}