{% extends 'place/base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="content-category"> <!--카테고리-->
    <div class="content-category__item"><a href="{% url 'place:home' 'all' %}">전체</a> </div>
    <div class="content-category__item"><a href="{% url 'place:home' 'cafe' %}">카페</a></div>
    <div class="content-category__item"><a href="{% url 'place:home' 'studyroom' %}">스터디룸</a></div>
    <div class="content-category__item"><a href="{% url 'place:home' 'etc' %}">그 외</a></div>
  </div>

  <form class="place-search" method="GET">
     <!--검색-->
      <i class="fa-solid fa-magnifying-glass"></i>
      {% if search %}
      <div class="place-search__content">
        <input value="{{ search }}" type="text" name="search" class="search__input" placeholder="관심 모각코를 검색해보세요">
        <button class="place-search__btn" type="submit">검색</button>
      </div>
      {% else %}
      <div class="place-search__content">
        <input type="text" name="search" class="search__input" placeholder="관심 모각코를 검색해보세요">
        <button class="place-search__btn" type="submit">검색</button>
      </div>
      {% endif %}
		<select id="sort" name="sort" onchange="this.form.submit()">
			<option value="default">--정렬기준--</option>
			<option value="latest" {% if sort == "latest" %}selected{% endif %}>최신순</option>
			<option value="like" {% if sort == "like" %}selected{% endif %}>좋아요순</option>
			<option value="comment" {% if sort == "comment" %}selected{% endif %}>댓글순</option>
		</select>
	</form>
  <div class="content-box">
    <ul class="content-box__list">
      {% for place, image, width in pairs %} <!--게시물-->
      <a class="content-box__itme" href="{% url 'place:detail' place.id %}" >
        <div class="content-box__img">
          {% if image %}
          <img src="{{image.image.url}}"><br>
          {% else %}
          <img class="no_image" src="{% static "img/image-solid.svg" %}" alt="no_image" ></img>
          {% endif %}
        </div>
        <div class="content-box__top">
          <div class="content-box__name">{{place.name}}</div>
          <div class="content-box__location">
            <i class="fa-solid fa-location-dot"></i> {{place.location}}</div>
          <div class="content-box__rating"><div class="star-ratings">
            <div 
              class="star-ratings-fill"
            >
            {% for i in width %}
              <span>★</span>
              {% endfor %}
            </div>
          </div></div>
        </div>
        <div class="content-box__bottom">
          <span class="content-box__profile">
              {% if place.user.profile_img %}
              <div class="profile_img"><img src="{{place.user.profile_img.url}}" alt="profile_img"></img></div>
              <div>{{place.user.nickname}}</div>
              {% else %}
              <div class="profile_img"><img src="{% static "img/moco_symbol.png" %}" alt="profile_img"></img></div>
              <div>{{place.user.nickname}}</div>
              {% endif %}
          </span>
          <span>
            <span style="margin-right: 0.5rem;"><i class="fa-solid fa-comment-dots"></i>{{place.comment_set.all|length}}</span>
              {% if user in place.like_users.all %}
              <i id="blank" class="fa-solid fa-heart"></i> <!-- 빨간색 채워져 있는 하트-->
              <span id="like_count">{{place.likes}}</span>
              {% else %}
              <i id="blank" class="fa-regular fa-heart"></i> <!--비어있는 하트-->
              <span id="like_count">{{place.likes}}</span>
              {% endif %}
          </span>
        </div>
      </a>
      {%endfor%}
    </ul>
  </div>
  <div class="content-pagination">
    <ul class="pagination justify-content-center" style="margin-top: 2rem;">
      <!-- 이전페이지 -->
      {% if places.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?&page={{ places.previous_page_number }}" style="color:#2253FF;">이전</a>
          <!-- href로 뎁스 설정 -->
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in places.paginator.page_range %}
      {% if page_number == places.number %}
      <li class="page-item active" aria-current="page">
          <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if places.has_next %}
      <li class="page-item">
          <a class="page-link" href="?&page={{ places.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
  </ul>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  function myFunction() {
    const urlParams = new URLSearchParams(window.location.search);
    const search = urlParams.get('search');
    var myElement = document.getElementById('sort');
    if (search == 'null'){
      myElementValue = '?sort=' + myElement.value;
    }
    else {
      myElementValue = '?search=' + search + '&' + '?sort=' + myElement.value;
    }
    location.href = myElementValue
  }

  // 게시글 이미지가 없는 경우 썸네일 비율 조정
  $('.no_image').css("object-fit", "contain");
  </script>
{% endblock %}