{% extends 'place/base.html' %}
{% block content %}
<div class="content">
  <div class="content-category"> <!--카테고리-->
    <div class="content-category__item"><a href="{% url 'place:home' 'all' %}">전체</a> </div>
    <div class="content-category__item"><a href="{% url 'place:home' 'cafe' %}">카페</a></div>
    <div class="content-category__item"><a href="{% url 'place:home' 'studyroom' %}">스터디룸</a></div>
    <div class="content-category__item"><a href="{% url 'place:home' 'etc' %}">그 외</a></div>
  </div>

  <form method="GET">
     <!--검색-->
      <i class="fa-solid fa-magnifying-glass"></i>
      {% if search %}
      <input value="{{ search }}" type="text" name="search" class="search__input" placeholder="관심 모각코를 검색해보세요">
      <button type="submit"">검색</button>
      {% else %}
      <input type="text" name="search" class="search__input" placeholder="관심 모각코를 검색해보세요">
      <button type="submit"">검색</button>
      {% endif %}
      <!--태그 검색-->
      <input type="text" name="tag" class="tag__input" placeholder="태그로 검색해보세요">
      <i class="fa-solid fa-hashtag"></i>
      <div class="tag__reset">
        <i class="fa-solid fa-arrows-rotate" style="color: black;"></i>
        <input type="submit" name="reset" class="tag__reset" value="초기화">
      </div>
		<select id="sort" name="sort" onchange="this.form.submit()">
			<option value="default">--정렬기준--</option>
			<option value="latest" {% if sort == "latest" %}selected{% endif %}>최신순</option>
			<option value="like" {% if sort == "like" %}selected{% endif %}>좋아요순</option>
			<option value="comment" {% if sort == "comment" %}selected{% endif %}>댓글순</option>
		</select>
	</form>
  <div class="content-box">
    <ul class="content-box__list">
      {% for place, image in pairs %} <!--게시물-->
      <a class="content-box__itme" href="{% url 'place:detail' place.id %}" >
        <div class="content-box__img">
          {% if image %}
          <img src="{{image.image.url}}"><br>
          {% endif %}
        </div>
        <div class="content-box__top">
          <div class="content-box__name">{{place.name}}</div>
          <div class="content-box__location">
            <i class="fa-solid fa-location-dot"></i> {{place.location}}</div>
          <div class="content-box__rating">{{place.rating}}</div>
        </div>
        <div class="content-box__bottom">
          <span><i class="fa-solid fa-circle-user"></i>{{place.user}}</span>
          <span>
            <span style="margin-right: 0.5rem;"><i class="fa-solid fa-comment-dots"></i>{{place.comment_count}}</span>
            <span><i class="fa-regular fa-heart"></i>{{place.likes}}</span>
          </span>
        </div>
      </a>
      {%endfor%}
    </ul>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  function myFunction() {
    const urlParams = new URLSearchParams(window.location.search);
    const search = urlParams.get('search');
    var myElement = document.getElementById('sort');
    if (search == 'null'){
      myElementValue = '?sort=' + myElement.value;
    }
    else {
      myElementValue = '?search=' + search + '&' + '?sort=' + myElement.value;
    }
    location.href = myElementValue
    
  }
  </script>
{% endblock %}