{% extends 'place/base.html' %} {% block content %}
<div class="content">
  <form
    action="{% url 'place:update' place.id %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div id="content-write">
      <div class="content-write__title">
        <div class="content-write__title_num"><h2>1</h2></div>
        <h2>사진을 업로드해주세요</h2>
      </div>
      <div class="content-write__file">
        <h3 style="margin-top: 1rem">수정</h3>
        <input type="file" name="place_images" accept="image/*" multiple />
      </div>
    </div>
    <div id="content-write">
      <div class="content-write__title">
        <div class="content-write__title_num"><h2>2</h2></div>
        <h2>상호명을 작성해주세요</h2>
      </div>
      <div class="content-write__item" style="z-index: 0; padding-bottom: 50px">
        <div class="map_wrap">
          <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
          <div id="menu_wrap" class="bg_white">
              <div class="option">
                  <div>
                    <input type="text" value="{{ place.name }}" id="keyword" size="15" style="width:65%; padding:0.5rem; border-radius: 0.5rem;"> 
                    <input type="button" id="search" value="검색하기" onclick=searchPlaces() style="width:30%; padding:0.5rem; border-radius: 0.5rem;"></input> 
                  </div>
              </div>
              <hr>
              <ul id="placesList"></ul>
              <div id="pagination"></div>
          </div>
        </div>
      <div class="content-write__item">
        <div for="{{ form.name.id_for_label }}">상호명</div>
        <input type="text" name="name" placeholder="상호명" maxlength="25" required="" id="id_name" value="{{ place.name }}" readonly/>
      </div>
      <div class="content-write__item">
        <div for="id_location">위치</div>
        <div class="content-write__item_location">
          <input
            type="text"
            name="location"
            id="sample5_address"
            placeholder="도로명 주소 / 지번 주소"
            value= "{{ place.location }}"
            readonly
          />
        </div>
        <div>
          <input
            type="text"
            name="location_detail"
            id="sample5_address"
            placeholder="상세 정보를 입력해주세요 (선택)"
            value = "{{ place.location_detail }}"
          />
        </div>
      </div>
    </div>
    <div id="content-write">
      <div class="content-write__title">
        <div class="content-write__title_num"><h2>3</h2></div>
        <h2>구체적인 정보를 작성해주세요</h2>
      </div>
      <div class="content-write__two">
        <div class="content-write__item">
          {{ form.category.errors }}
          <div for="{{ form.category.id_for_label }}">장소 분류</div>
          {{ form.category }}
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="content-write__item">
          {{ form.wifi.errors }}
          <div for="{{ form.wifi_time.id_for_label }}">와이파이</div>
          {{ form.wifi }}
          <i class="fa-solid fa-angle-down"></i>
        </div>
      </div>
      <div class="content-write__two">
        <div class="content-write__item">
          {{ form.opening_time.errors }}
          <div for="{{ form.opening_time.id_for_label }}">오픈 시간</div>
          {{ form.opening_time }}
        </div>
        <div class="content-write__item">
          {{ form.closing_time.errors }}
          <div for="{{ form.closing_time.id_for_label }}">마감 시간</div>
          {{ form.closing_time }}
        </div>
      </div>
      <div class="content-write__two">
        <div class="content-write__item">
          {{ form.power_socket.errors }}
          <div for="{{ form.power_socket.id_for_label }}">콘센트</div>
          {{ form.power_socket }}
          <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="content-write__item">
          {{ form.rating.errors }}
          <div for="{{ form.rating.id_for_label }}">별점</div>
          <div class="star-rating space-x-4 mx-auto">
            <input
              type="radio"
              id="5-stars"
              name="rating"
              value="5"
              v-model="ratings"
            />
            <label for="5-stars" class="star pr-4">★</label>
            <input
              type="radio"
              id="4-stars"
              name="rating"
              value="4"
              v-model="ratings"
            />
            <label for="4-stars" class="star">★</label>
            <input
              type="radio"
              id="3-stars"
              name="rating"
              value="3"
              v-model="ratings"
            />
            <label for="3-stars" class="star">★</label>
            <input
              type="radio"
              id="2-stars"
              name="rating"
              value="2"
              v-model="ratings"
            />
            <label for="2-stars" class="star">★</label>
            <input
              type="radio"
              id="1-star"
              name="rating"
              value="1"
              v-model="ratings"
            />
            <label for="1-star" class="star">★</label>
          </div>
        </div>
      </div>
    </div>
    <div id="content-write">
      <div class="content-write__title">
        <div class="content-write__title_num"><h2>4</h2></div>
        <h2>후기를 작성해주세요</h2>
      </div>
      <div class="content-write__item">
        {{ form.content.errors }}
        <div for="{{ form.content.id_for_label }}">후기</div>
        {{ form.content}}
      </div>
    </div>
    <div class="content-write__btn">
      <input type="button" value="취소" onclick="back()" />
      <input type="submit" value="등록하기" />
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cb7ccec687e9ae05def0b343b1f55486&libraries=services"></script>
<script>
  // 마커를 담을 배열입니다
  var markers = [];

  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
          center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };  

  // 지도를 생성합니다    
  var map = new kakao.maps.Map(mapContainer, mapOption); 

  // 장소 검색 객체를 생성합니다
  var ps = new kakao.maps.services.Places();  

  // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
  var infowindow = new kakao.maps.InfoWindow({zIndex:1});
  
  //이전 지도 정보를 미리 띄워주기 위해 함수 실행
  searchPlaces();

  function searchPlaces() {

  var keyword = document.getElementById('keyword').value;

  if (!keyword.replace(/^\s+|\s+$/g, '')) {
      alert('키워드를 입력해주세요!');
      return false;
  }

  // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
  ps.keywordSearch( keyword, placesSearchCB); 
  }

  // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
  function placesSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {

          // 정상적으로 검색이 완료됐으면
          // 검색 목록과 마커를 표출합니다
          displayPlaces(data);

          // 페이지 번호를 표출합니다
          displayPagination(pagination);

      } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

          alert('검색 결과가 존재하지 않습니다.');
          return;

      } else if (status === kakao.maps.services.Status.ERROR) {

          alert('검색 결과 중 오류가 발생했습니다.');
          return;

      }
  }

  // 검색 결과 목록과 마커를 표출하는 함수입니다
  function displayPlaces(places) {

      var listEl = document.getElementById('placesList'), 
      menuEl = document.getElementById('menu_wrap'),
      fragment = document.createDocumentFragment(), 
      bounds = new kakao.maps.LatLngBounds(), 
      listStr = '';
      
      // 검색 결과 목록에 추가된 항목들을 제거합니다
      removeAllChildNods(listEl);

      // 지도에 표시되고 있는 마커를 제거합니다
      removeMarker();
      
      for ( var i=0; i<places.length; i++ ) {

          // 마커를 생성하고 지도에 표시합니다
          var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
              marker = addMarker(placePosition, i), 
              itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

          // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
          // LatLngBounds 객체에 좌표를 추가합니다
          bounds.extend(placePosition);

          // 마커와 검색결과 항목에 mouseover 했을때
          // 해당 장소에 인포윈도우에 장소명을 표시합니다
          // mouseout 했을 때는 인포윈도우를 닫습니다
          // 검색결과 목록을 클릭 시 상호명, 주소 창에 자동으로 채워집니다.
          (function(itemEl, address){
            itemEl.onclick = function () {
                  // $('input[name=name]').attr('value',places[i].place_name);
                  $('input[name=location]').attr('value', address);
            };
          })(itemEl, places[i].road_address_name);

          (function(marker, title, address) {
              kakao.maps.event.addListener(marker, 'mouseover', function() {
                  displayInfowindow(marker, title);
              });

              kakao.maps.event.addListener(marker, 'mouseout', function() {
                  infowindow.close();
              });

              itemEl.onmouseover =  function () {
                  displayInfowindow(marker, title);
              };

              itemEl.onmouseout =  function () {
                  infowindow.close();
              };

              itemEl.onclick =  function () {
                $('input[name=name]').attr('value', title);
                $('input[name=location]').attr('value', address);
              };

          })(marker, places[i].place_name, places[i].road_address_name);

          fragment.appendChild(itemEl);
      }

      // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
      listEl.appendChild(fragment);
      menuEl.scrollTop = 0;

      // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
      map.setBounds(bounds);
  }

  // 검색결과 항목을 Element로 반환하는 함수입니다
  function getListItem(index, places) {

      var el = document.createElement('li'),
      itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                  '<div class="info">' +
                  '   <h5>' + places.place_name + '</h5>';

      if (places.road_address_name) {
          itemStr += '    <span>' + places.road_address_name + '</span>' +
                      '   <span class="jibun gray">' +  places.address_name  + '</span>';
      } else {
          itemStr += '    <span>' +  places.address_name  + '</span>'; 
      }
                  
        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                  '</div>';           

      el.innerHTML = itemStr;
      el.className = 'item';

      return el;
  }

  // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
  function addMarker(position, idx, title) {
      var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
          imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
          imgOptions =  {
              spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
              spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
              offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
          },
          markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
              marker = new kakao.maps.Marker({
              position: position, // 마커의 위치
              image: markerImage 
          });

      marker.setMap(map); // 지도 위에 마커를 표출합니다
      markers.push(marker);  // 배열에 생성된 마커를 추가합니다

      return marker;
  }

  // 지도 위에 표시되고 있는 마커를 모두 제거합니다
  function removeMarker() {
      for ( var i = 0; i < markers.length; i++ ) {
          markers[i].setMap(null);
      }   
      markers = [];
  }

  // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
  function displayPagination(pagination) {
      var paginationEl = document.getElementById('pagination'),
          fragment = document.createDocumentFragment(),
          i; 

      // 기존에 추가된 페이지번호를 삭제합니다
      while (paginationEl.hasChildNodes()) {
          paginationEl.removeChild (paginationEl.lastChild);
      }

      for (i=1; i<=pagination.last; i++) {
          var el = document.createElement('a');
          el.href = "#";
          el.innerHTML = i;

          if (i===pagination.current) {
              el.className = 'on';
          } else {
              el.onclick = (function(i) {
                  return function() {
                      pagination.gotoPage(i);
                  }
              })(i);
          }

          fragment.appendChild(el);
      }
      paginationEl.appendChild(fragment);
  }

  // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
  // 인포윈도우에 장소명을 표시합니다
  function displayInfowindow(marker, title) {
      var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

      infowindow.setContent(content);
      infowindow.open(map, marker);
  }

  // 검색결과 목록의 자식 Element를 제거하는 함수입니다
  function removeAllChildNods(el) {   
      while (el.hasChildNodes()) {
          el.removeChild (el.lastChild);
      }
  }

  for (var i = 1; i <= 5; i++){
    if ($('input[value='+ i + ']').attr("value") == "{{ form.rating.value }}"){
      $('input[value='+ i + ']').attr('checked', true);
    };
  }

  $(document).ready(function () {
    $("#id_content").summernote();
  });

  function back() {
    window.history.back();
  };
</script>
{% endblock content %}