<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 변경</title>
  </head>
  <body>
    <form method="POST" action="{% url 'users:change_pw' %}">
      {% csrf_token %} {{form}}
      <button type="submit">제출</button>
      {% if messages %} {% for message in messages %} {{ message.tags }}
      {{message.message }} {% endfor %} {% endif %}
    </form>
  </body>
</html>
