{% extends 'posts/base.html' %} {% block content %}
<div class="content">
  <div id="review__page_title">
    <h2>모각코 후기</h2>
  </div>
  {% for review in reviews %}
  <div class="review__contents_box" onclick="location.href='{% url 'posts:detail' review.post.id %}';">
    <div class="review__contents_box__img">
      <img src="{{review.image}}" alt="활동이미지"></img>
    </div>
    <div class="review__contents_box__content">
      <div class="review__contents_box__user_info">
        <div class="review__contents_box__profile">
          <div class="review__contents_box__profile_img">
            <i class="fa-solid fa-circle-user fa-3x"></i>
          </div>
          <div class="review__contents_box__info">
            <div class="main_detail__contents__profile_name">
              <span>{{review.user.nickname}}</span>
            </div>
            <div class="main_detail__contents__profile_time">
              <span>{{review.write_at|date:"Y-m-d"}}</span>
            </div>
          </div>
        </div>
        {% if review.user == review.post.user%}
        <div class="review__contents_box__auth">
          <div id="review__contents_box__auth_host">주최자</div>
        </div>
        {% else %}
        <div class="review__contents_box__auth">
          <div id="review__contents_box__auth_guest">참여자</div>
        </div>
        {% endif %}
      </div>
      <div class="review__contents_box__tag_row">
        <ul class="review__contents_box__tag_tags">
        </ul>
      </div>
      <div class="review__contents_box__text_lines">
        <div class="review__contents_box__text_title">
          <h2>{{review.post.title}}</h2>
          <p>
            {{review.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
