{% extends 'posts/base.html' %} {% block content %}
{% load static %}
<div class="content">
  <div id="review__page_title">
    <h2 style="font-weight: 700;">모각코 후기</h2>
  </div>
  {% for review in reviews %}
  <div class="review__contents_box" onclick="location.href='{% url 'posts:detail' review.post.id %}';">
    <div class="review__contents_box__img">
      <div id="review__img__container">
        {% if review.image %}
        <img src="{{review.image.url}}" alt="활동이미지"></img>
        {% else %}
        <img src="{% static 'img/image-solid.svg' %}" alt="활동이미지"></img>
        {% endif %}
      </div>
    </div>
    <div class="review__contents_box__content">
      <div class="review__contents_box__user_info">
        <div class="review__contents_box__profile_container">
          <div class="review__contents_box__profile_img">
            {% if review.user.profile_img %}
            <img src="{{review.user.profile_img.url}}" alt="profile_img"></img>
            {% else %}
            <img src="{% static 'img/moco_symbol.png' %}" alt="profile_img"></img>
            {% endif %}
          </div>
          <div class="reviews_review__contents_box__info">
            <div class="main_detail__contents__profile_name">
              <span>{{review.user.nickname}}</span>
            </div>
            <div class="main_detail__contents__profile_time">
              <span>{{review.write_at|date:"Y-m-d"}}</span>
            </div>
          </div>
        </div>
        {% if review.user == review.post.user%}
        <div class="review__contents_box__auth">
          <div id="review__contents_box__auth_host">주최자</div>
        </div>
        {% else %}
        <div class="review__contents_box__auth">
          <div id="review__contents_box__auth_guest">참여자</div>
        </div>
        {% endif %}
      </div>
      <div class="review__contents_box__tag_row">
        <ul class="review__contents_box__tag_tags">
        </ul>
      </div>
      <div class="review__contents_box__text_lines">
        <div class="review__contents_box__text_title">
          <h2>{{review.post.title}}</h2>
          <p>
            {{review.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
