@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
@import url(reset.css);

.btn:active,
.btn:focus {
  outline: none;
  box-shadow: none;
}

body a:hover {
  color: #141414 !important;
}

body {
  color: #141414 !important;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  padding-top: 3.5rem;
}

.wrap {
  box-shadow: 0px 4px 10px rgba(145, 158, 160, 0.15);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar-desktop {
  align-items: center;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.navbar-mobile {
  display: none;
  width: 100%;
  padding: 1rem 1.5rem;
}

.navbar-top {
  display: none;
  align-items: center;
  z-index: 1;
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar-top i {
  font-size: 1.25rem;
}

.navbar__logo {
  display: inline-flex;
  width: 110px;
}

.navbar__logo img {
  width: 100%;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 3rem;
  margin-left: 2rem;
}

.navbar__shortcut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  margin-left: auto;
  height: 100%;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 1rem;
}

.navbar__shortcut i {
  font-size: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 1.5rem;
  margin: 3rem auto;
  z-index: 0;
}

/* JS 없이 호버로 드롭다운 구현 */
.base__dropdown {
  position: relative;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.base__dropdown_not {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.base__dropdown li > a,
.base__dropdown li > span {
  height: 100%;
}

.base__dropdown:hover,
.base__dropdown a:hover {
  color: #2253ff !important;
}

.base__dropdown:hover > .base__dropmenu {
  display: block;
}

.base__dropmenu {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  width: 7em;
  top: 100%;
  padding: 0.5rem 0;
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.base__dropmenu a {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-weight: 400;
  font-size: 0.9rem;
  padding: 12px 12px;
  background-color: white;
}

.base__dropmenu a:hover {
  background-color: #e9f7ff;
}

.base__dropmenu li:hover {
  background-color: #e9f7ff;
}

.base__dropdown:hover .base__dropmenu {
  display: block;
  opacity: 1;
}

/* 프로필 드롭다운 메뉴 */

.base__profile_dropbtn {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.base__profile_dropbtn .profile_img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.base__profile_dropbtn div img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 80%;
}

.base__profile_dropbtn div i {
  font-size: 90%;
}

.base__profile_dropdown:hover .base__profile_dropmenu {
  display: block;
  opacity: 1;
}

/* 햄버거 메뉴바*/
.fa-bars {
  display: none; 
}

/* 반응형 */

@media screen and (max-width:1023px) {
  .content{
    max-width: 1023px;
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .content{
    max-width: 767px;
    min-width: 481px;
  }
}

@media screen and (max-width: 480px) {
  .content{
    min-width: 480px;
  }
}

@media screen and (max-width:1023px) {
  .base__dropmenu {
    right: -1rem;
  }
  
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
  }

  .navbar__shortcut{
    margin-left: 0;
  }

  .fa-bars {
    display: flex;
  }

  .navbar__menu {
    display: none;
    gap: 0;
  }

  .navbar__menu.active {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
    margin-left: 0;
  }

  .navbar__menu > .base__dropdown{
    display: block;
    width: 100%;
    /* text-align: center; */
  }

  .navbar__menu > .base__dropdown > a{
    display: block;
    padding: 1rem 0;
    margin: 0.5rem 0;
  }

  .navbar__menu > .base__dropdown > a > i{
    margin-left: 0.2rem;
  }

  .navbar__menu ul li {
    display: none;
    width: 100%;
  }
  
  .navbar__menu ul li > a{
    display: none;
    width: 100%;
  }

  .navbar__menu.active .base__dropmenu {
    display: none;
    opacity: 100;
    position: static;
    padding: 0.5rem 0;
    box-shadow: none;
    margin: 0rem;
    width: 100%;
    height: 0;   
  }

  .navbar__menu.active .base__dropmenu.active {
    display: block;
    width: 100%;
    height: 5rem; 
    margin: 0;
    padding: 0;
  }

  .navbar__menu.active .base__dropmenu.active li,
  .navbar__menu.active .base__dropmenu.active li > a {
    display: block;
  }

}
