/*아이디 찾기*/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Noto Sans", "Noto Sans KR";
  margin-top: 5rem;
}

main .idsearch__container {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

main .idsearch__div {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 900;
}

main .input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.input__name input {
  width: 22rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  border: 1px solid #8c8c8c;
}

.input__name input::placeholder {
  font-size: 1rem;
  color: #8c8c8c;
}

.input__birth input {
  width: 22rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 2rem;
  border: 1px solid #8c8c8c;
}

.input__birth input::placeholder {
  font-size: 1rem;
  color: #8c8c8c;
  border-color: #8c8c8c;
}

.input__name input:focus {
  outline: none !important;
  border: 1px solid blue;
}

.input__birth input:focus {
  outline: none !important;
  border: 1px solid blue;
}

#search__btn {
  cursor: pointer;
  margin-top: 1rem;
  width: 22rem;
  height: 4rem;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  background-color: rgb(47, 82, 245);
  color: #fff;
  font-weight: 900;
}

#backtologin__btn {
  cursor: pointer;
  margin-top: 1rem;
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  background-color: rgb(47, 82, 245);
  color: #fff;
  font-weight: 100;
}

.search__result {
  width: 22rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#search__modal.modal-overlay {
  display: none;
  width: 100%;
  height: 130%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(103, 99, 99, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#search__modal .modal__window {
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba(16, 18, 42, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25rem;
  height: 12rem;
  position: relative;
  padding: 10px;
  margin-top: 15rem;
}

#search__modal .modal-close {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  color: black;
  font-weight: 100;
}

#search__modal .modal__content p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  padding: 0px 10px;
  color: black;
  font-size: 1rem;
  line-height: 1.3rem;
}
