#content-write {
  padding-bottom: 50px;
}

.content-write__title {
  border-bottom: 1px solid rgb(162, 162, 162);
  padding-bottom: 18px;
  display: flex;
  align-items: center;
}

.content-write__item input {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
}

.content-write__item input:hover {
  border-color: #2253ff;
}

.content-write__title_num {
  height: 30px;
  width: 30px;
  background-color: #2253ff;
  border-radius: 100px;
  color: white;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.content-write__title_num h2 {
  font-size: 1.3rem;
  padding-top: 3px;
}

.content-write__title h2 {
  font-weight: 700;
  font-size: 1.3rem;
}

.content-write__item > div,
.content-write__file h3 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.content-write__item {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-write__file {
  margin-top: 1.5rem;
}

.content-write__item select {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid #bfbfbf;
  appearance: none;

}

.content-write__item i{
  position: absolute;
  top: 60%;
  right: 4%;
}

.content-write__item_location {
  display: flex;
  position: relative;
}

.content-write__item_location input:nth-child(1) {
  flex-basis: 100px;
  flex-grow: 4;
}

.content-write__item_location input:nth-child(2) {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  justify-content: center;
  margin-left: 1rem;
}

.content-write__btn {
  display: flex;
  justify-content: center;
}

.content-write__btn input:nth-child(1) {
  padding: 1rem 2rem;
  background-color: #bfbfbf;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.content-write__btn input:nth-child(2) {
  padding: 1rem 2rem;
  background-color: #2253ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.content-write__two {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-write__two > div:nth-child(1) {
  width: 48%;
}

.content-write__two > div:nth-child(2) {
  width: 48%;
}

form{
  width: 100%;
}

/* 별점 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.75rem !important;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: #BFBFBF; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  cursor: pointer;
  -webkit-text-stroke-color: #BFBFBF;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
  -webkit-text-stroke-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: gold;
  -webkit-text-stroke-color: gold;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}


@media screen and (max-width: 767px) {
  .content-write__two {
    flex-direction: column;
  }
  .content-write__two > div:nth-child(1){
    width: 100%;
  }
  .content-write__two > div:nth-child(2){
    width: 100%;
  }
}