.content-category {
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-right: auto;
}

.content-category__item {
	display: inline-block;
	padding: 1rem 2rem 1rem 0;
}

.search,
.tag {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0.5rem auto;
}

.place-search {
	position: relative;
	flex-direction: column;
	margin: 1rem 0;
	width: 100%;
}

.place-search__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 2rem 0;
}

.search__input {
	flex-basis: 15%;
	flex-grow: 5;
	margin-right: 1rem;
}

.search__input:hover {
	border-color: #2253ff;
}

.place-search__btn {
	flex-grow: 1;
}

.place-search__btn {
	background-color: #2253ff;
	border: none;
	border-radius: 0.5rem;
	color: white;
	padding: 0.75rem 2rem;
	font-weight: 600;
}

.place-search i {
	position: absolute;
	left: 1.25rem;
	top: 19%;
}

.search__input,
.tag__input {
	/* width: 100%; */
	height: 50px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 1.75rem 3rem;
}

.search i,
.tag i {
	font-size: 1.25rem;
	color: #bfbfbf;
	position: absolute;
	left: 1.25rem;
	top: 31%;
}

.tag__reset {
	display: flex;
	align-items: center;
	padding: 5px 32px;
	margin-left: 1rem;
}

.tag__reset i {
	position: static;
}

.tag__reset input {
	border: none;
	background-color: transparent;
	margin: 0 11px;
	padding: 0;
}

.search__button {
	padding: 20px 60px;
	margin-left: 1rem;
	background-color: #2253ff;
	color: white;
	border: none;
	border-radius: 0.5rem;
}

.sort {
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.content-box {
	margin-right: auto;
}

.content-box__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	grid-gap: 2.8rem;
	flex-wrap: wrap;
}

.content-box__itme {
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	background-color: white;
	filter: drop-shadow(0 4px 10px rgba(26, 28, 29, 0.06));
}

.content-box__top {
	padding: 1rem 1rem 3rem 1rem;
	background-color: white;
}

.content-box__bottom {
	padding: 1rem;
	display: flex;
	align-items: center;
	border-top: 1px solid #bfbfbf;
}

.content-box__img {
	width: 22rem;
	height: 10rem;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.content-box__img img {
	width: 22rem;
	height: 10rem;
	overflow: hidden;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	transition: all 0.3s linear;
}

.content-box__img img:hover {
	transform: scale(1.06);
}

.content-box__name {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 18px;
	margin-bottom: 0.75rem;
}

.content-box__location {
	color: #8c8c8c;
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.content-box__rating {
	color: #8c8c8c;
	font-weight: 400;
	font-size: 1rem;
}

.content-box__bottom {
	display: flex;
	justify-content: space-between;
	color: #8c8c8c;
	font-weight: 400;
	font-size: 1rem;
}

.content-box__bottom span i {
	margin-right: 0.5rem;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 10px;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
	-webkit-text-stroke-color: gold;
}

.star-ratings-fill > span {
	padding: 0 0.08rem;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

/* 프로필 사진 */

.content-box__profile .profile_img {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}

.profile_img img {
	display: inline-block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 80%;
}

/* 페이지네이션 */
.content-pagination {
	margin: 4rem auto;
}

.content-pagination .active > .page-link {
	background-color: #2253ff;
	color: white;
}

.content-pagination .pagination {
	--bs-pagination-color: #2253ff;
	--bs-pagination-disabled-color: #8c8c8c;
}

/*place_detail 댓글*/

.place_detail__comment__each__contents_div {
	border-bottom: 1px solid rgb(162, 162, 162);
	padding-top: 23px;
	padding-bottom: 23px;
}

.place_detail__comment__contetns__profile_userinfo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.place_detail__comments__contents__options {
	position: relative;
	display: inline-flex;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.place_detail__comments__contents__options:hover .place_detail__comments_dropdown_menu {
	display: block;
}

.place_detail__comments__contents__options:hover,
.place_detail__comments_dropdown_menu_revise button:hover,
.place_detail__comments_dropdown_menu_delete button:hover {
	color: #2253ff !important;
}

.place_detail__comments__contents__options:hover > .place_detail__comments_dropdown_menu {
	display: block;
}

.place_detail__comments__contents__options:hover .place_detail__comments_dropdown_menu {
	display: block;
	opacity: 1;
}

.place_detail__comments_dropdown_btn {
	margin-right: 10px;
	margin-bottom: 2px;
}

.place_detail__comments_dropdown_menu_revise:hover {
	background-color: #e9f7ff;
}

.place_detail__comments_dropdown_menu_delete:hover {
	background-color: #e9f7ff;
}

.place_detail__comments_dropdown_menu {
	display: block;
	text-decoration: none;
	color: rgb(37, 37, 37);
	font-weight: 400;
	font-size: 0.9rem;
	background-color: white;
	line-height: 25px;
	text-align: center;
	position: absolute;
	opacity: 0;
	z-index: 1; /*다른 요소들보다 앞에 배치*/
	width: 4em;
	top: 100%;
	padding: 0.5rem 0;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

#place_detail__comments__contents__name{
	margin-bottom: 0.25rem;
}

.place_detail_comment_reply_btn {
	border: 1px solid #8c8c8c;
	display: inline-block;
	margin: 0.7rem 0 0.9rem 0;
}

.place_detail_comment_reply_btn button {
	color: #8c8c8c;
	font-size: 0.9rem;
	padding: 0.5rem;
}

.place_detail_commnet_reply_form {
	margin-top: 10px;
}

.place_detail__reply_user_name {
	font-size: 16px;
}

.place_detail__recomments_revise_delete_btn {
	position: relative;
	z-index: 1;
	align-items: flex-end;
	margin-left: 5px;
}

.place_detail__recomments_revise_delete_btn button {
	display: flex;
}

.place_detail__comment__contents__reply_bundle:hover .place_detail__recomments_revise_delete_btn {
	display: flex;
}

#place_detail__comment__contents__reply > div {
	border-top: 1px solid #BFBFBF;
	padding: 1.5rem 0 1.5rem 3rem;
}

.place_detail__reply_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.place_detail__recomments_revise_btn {
	border: 1px solid black;
	margin-left: 3px;
	font-size: 13px;
	padding: 3px;
}

.place_detail__recomments_delete_btn {
	border: 1px solid black;
	margin-left: 3px;
	font-size: 13px;
	padding: 3px;
}

@media screen and (max-width: 480px) {
	.search__input{
		margin: 0 0 1rem 0;
		flex-basis: 0;
	}

	.place-search__content {
		height: 40%;
	}

	.place-search__btn {
		padding: 1.5rem 2rem;
	}

	.place-search i {
		top: 11%;
	}
}