main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Noto Sans", "Noto Sans KR";
  margin-top: 5rem;
}

#reset__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#reset-pw__title img {
  width: 20rem;
}

#reset-pw__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  width: 30rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#reset-pw__desc {
  width: 23rem;
  font-size: 0.8rem;
  font-size: 1rem;
  color: #000;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#reset-pw__desc p {
  margin-bottom: 0.5rem;
}

#reset-pw__container {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

#reset-pw__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#reset-pw__input p {
  width: 30rem;
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 0.5rem;
  margin-left: 8rem;
}

.input__email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.input__email input {
  width: 22rem;
  height: 3.3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  border: 1px solid #8c8c8c;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.input__username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.input__username input {
  width: 22rem;
  height: 3.3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  border: 1px solid #8c8c8c;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#reset-pw__btn__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 40rem;
  height: auto;
}

#reset-pw__btn {
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 22rem;
  height: 4rem;
  outline: 0;
  border: 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #2253ff;
  color: #fff;
  font-weight: 900;
}
