main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Noto Sans", "Noto Sans KR";
  margin-top: 5rem;
}

#reset-pw-cf__container {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

#reset-pw-cf__container p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.reset-pw__input {
  margin-top: 2rem;
}

#reset-pw-cf__title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: black;
}

.hr {
  margin-bottom: 3rem;
}

.input__reset__pw input {
  width: 22rem;
  height: 3.3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  border: 1px solid #8c8c8c;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#reset-pw-cf__btn__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reset-pw-cf__btn {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 22rem;
  height: 3.3rem;
  outline: 0;
  border: 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #2253ff;
  color: #fff;
  font-weight: 900;
}

@media screen and (max-width:1023px) {
  /* 타블렛 가로 */
}

@media screen and (max-width: 767px) {
  /* 타블렛 세로, 모바일 가로 */
}

@media screen and (max-width: 479px) {
  /* 모바일 세로 */
  #reset-pw-cf__container {
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  #reset-pw-cf__title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: black;
  }
}