{% extends 'notice/base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <li class="back"><a target="_self" href="{% url 'notice:home' %}"><i class="fa-solid fa-arrow-left"></i></a></li>
  <div class="content-top">
    <div class="content-title">
      <div class="content-title__top">
        {{notice.title}}
      </div>
      <div class="content-title__bottom">
        <div class="content-title__info">
          <span class="content-title__img">
            {% if user.profile_img %}
              <div class="profile_img" style="margin-right: 0.75rem;"><img src="{{user.profile_img.url}}" alt="profile_img"></img></div>
              {% else %}
              <div class="profile_img" style="margin-right: 0.75rem;"><img src="{% static "img/moco_symbol.png" %}" alt="profile_img"></img></div>
              {% endif %}
          </span>
          <div class="content-title__left">
            <span class="content-title__user">{{notice.user.nickname}}</span>
            <span style="margin: 0 0.5rem; color: #8C8C8C;">|</span>
            <span class="content-title__published">{{notice.published_at|date:"Y. m. d" }}</span>
          </div>
        </div>
        <div class="content-title__right">
          {% if user == notice.user %}
          <div class="dropdown">
            <button onclick="dp_menu()" class="button"><i class="fa-solid fa-ellipsis"></i></button>
            <div style="display: none;" id="drop-content">
              <ul class="option-list">
                <li class="option">
                  <form action="{% url 'notice:delete' notice.id %}" method="post">
                    {% csrf_token %}
                    <button>삭제</button>
                  </form>
                <li class="option_blank"></li>
                </li>
                <li class="option"><a href = "{% url 'notice:update' notice.id %}">수정</a></li>
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    {{notice.content|linebreaks}}
  </div>
</div>
<script>
  function dp_menu(){
      let click = document.getElementById("drop-content");
      if(click.style.display === "none"){
          click.style.display = "block";
      }else{
          click.style.display = "none";
      }
  }
</script>
{% endblock %}
