{% extends 'users/account_base.html' %} {% block content %}
<main>
  <div class="idsearch__container">
    <div class="idsearch__div">
      <span>아이디 찾기</span>
      <form
        action="{% url 'users:find_id' %}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="input">
          {% csrf_token %}
          <div class="input__name">
            {{ form.name.errors }}
            <lable for="{{ form.name.id_for_label }}"></lable>
            <input
              type="text"
              name="name"
              required
              id="id_name"
              placeholder="이름"
            />
          </div>
          <div class="input__birth">
            {{ form.birth.errors }}
            <lable for="{{ form.birth.id_for_label }}"></lable>
            <input
              type="text"
              name="birth"
              required=""
              id="id_birth"
              placeholder="생년월일"
            />
          </div>
          <button id="search__btn">아이디 찾기</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
