{% extends 'users/account_base.html' %} {% block content %}

<main>
  <div class="login__container">
    <div class="login__nor">
      <span>MOCO</span>
      <form
        action="{% url 'users:login' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="input">
          <input class="input__id" type="text" placeholder="아이디" />
          <div>
            {{ form.username.errors }}
            <lable for="{{ form.id.username_for_label }}"></lable>
            {{ form.username }}
          </div>
          <input class="input__pw" type="password" placeholder="비밀번호" />
          <div>
            {{ form.password.errors }}
            <lable for="{{ form.password.id_for_label }}"></lable>
            {{ form.password }}
          </div>
          <div class="align__cb">
            <input type="checkbox" id="input__cb" />
            <label for="input__cb"></label>
            <span>아이디 저장</span>
          </div>
          <button id="login__btn">로그인</button>
        </div>
      </form>
      <div id="sub__menu">
        <a href="{% url 'users:find_id' %}">아이디 찾기&nbsp;&nbsp;</a> |
        <a href="{% url 'users:signup' %}">&nbsp;&nbsp;회원가입</a>
      </div>

      <div class="login__sim">
        <hr noshade />
        <span>간편 로그인</span>
        <hr noshade />
      </div>
      <div class="login__sim__soc">
        <button>구글</button>
        <button>네이버</button>
        <button>카카오</button>
        <button>깃허브</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}
