{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="{%static 'css/login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Noto+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0dee369a16.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--nav bar-->
    <nav id="nav">
      <div class="nav_1">
        <div><a href="">MOCO</a></div>
        <div><a href="">모각코</a></div>
        <div><a href="">플레이스</a></div>
        <div><a href="">공지사항</a></div>
      </div>
      <div class="nav_2">
        <div><a href="">글쓰기</a></div>
        <div><a href="">로그인</a></div>
      </div>
    </nav>
    <!--login main-->
    <main>
      <div class="login__container">
        <div class="login__nor">
          <span>MOCO</span>
          <div class="input">
            <input class="input__id" type="text" placeholder="아이디" />
            <input class="input__pw" type="password" placeholder="비밀번호" />
          </div>
          <div class="align__cb">
            <input type="checkbox" id="input__cb" />
            <label for="input__cb"></label>
            <span>아이디 저장</span>
          </div>
          <button id="login__btn">로그인</button>
          <div id="sub__menu">
            <a href="">아이디 찾기&nbsp;&nbsp;</a> |
            <a href="">&nbsp;&nbsp;회원가입</a>
          </div>

          <div class="login__sim">
            <hr noshade />
            <span>간편 로그인</span>
            <hr noshade />
          </div>
          <div class="login__sim__soc">
            <button>구글</button>
            <button>네이버</button>
            <button>카카오</button>
            <button>깃허브</button>
          </div>
        </div>
        <!--<div class="login__sim">
          <span></span>

        </div>-->
      </div>
    </main>
  </body>
</html>
