{% extends 'users/base.html' %} {% block content %}
{% load static %}
{% static 'img/naver_login.png' as naver_button %}
{% static 'img/google_login.png' as google_button %}
{% static 'img/kakao_login.png' as kakao_button %}
{% static 'img/github_login.png' as github_button %}
<main id="signup">
  <div id="signup-top">
    <div class="signup__sim">
      <hr noshade />
      <span>간편 회원가입</span>
      <hr noshade />
    </div>
    {% load socialaccount %} {% providers_media_js %}
    <div class="login__sim__soc" style="margin-bottom: 5rem;">
      <div>
        <form method="post" action="{% provider_login_url 'google' %}">
          {% csrf_token %}
          <button type="submit"><img src="{{ google_button }}" height="42" width="152"></button>
          <!-- <button type="submit">구글</button> -->
        </form>
        <form method="post" action="{% provider_login_url 'kakao' %}">
          {% csrf_token %}
          <button type="submit"><img src="{{ kakao_button }}" height="40" width="150"></button>
          <!-- <button type="submit">카카오</button> -->
        </form>
      </div>
      <div>
        <form method="post" action="{% provider_login_url 'naver' %}">
          {% csrf_token %}
          <button type="submit"><img src="{{ naver_button }}" height="40" width="152"
              style="padding-bottom: 0.1rem;"></button>
          <!-- <button type="submit">네이버</button> -->
        </form>
        <form method="post" action="{% provider_login_url 'github' %}">
          {% csrf_token %}
          <button type="submit"><img src="{{ github_button }}" height="40" width="152"></button>
          <!-- <button type="submit">깃허브</button> -->
        </form>
      </div>
    </div>
  </div>
  <form action="{% url 'users:signup' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="signup__1st__container">
      <div class="signup__1st__nor">
        <span>회원가입</span>
        <div class="input">
          <div class="input__reg__id">
            {{ form.username.errors }}
            <lable for="{{ form.username.id_for_label }}">
              <p style="margin-top: 2.5rem">아이디</p>
            </lable>
            <input type="text" name="username" minlength="5" maxlength="20" autofocus="" required="" id="id_username"
              placeholder="아이디">
          </div>
          <div class="input__email">
            {{ form.email.errors }}
            <lable for="{{ form.username.id_for_label }}">
              <p>이메일</p>
            </lable>
            <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="example@email.com">
          </div>
          <div class="input__reg__pw">
            {{ form.password1.errors }}
            <lable for="{{ form.password1.id_for_label }}">
              <p>비밀번호</p></label>
              <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"
                placeholder="비밀번호">
          </div>
          <p>비밀번호&nbsp;<span style="color: #8c8c8c">(확인)</span></p>
          <div class="input__reg__pw">
            {{ form.password2.errors }}
            <lable for="{{ form.password2.id_for_label }}"></lable>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"
              placeholder="비밀번호 (확인)">
          </div>
        </div>
        <button type="button" id="signup__1st__btn" onclick="signup1Function()">다음</button>
        <div id="sub__reg__menu">
          회원가입 시, MOCO가 제공하는 서비스를 모두 이용하실 수 있습니다. MOCO의
          <button id="openBtn1">서비스 이용약관</button>,
          <button id="openBtn2">개인정보취급방침</button>에 동의합니다.
          <input type="checkbox" id="input__reg__cb" />
          <label for="input__reg__cb"></label>
        </div>
        <div id="signup__modal-1" class="modal-overlay" style="display: none;">
          <div class="modal__window">
            <div class="modal__title">
              <h3>서비스 이용약관</h3>
            </div>
            <div class="modal-close"><i class="fa-solid fa-xmark"></i></div>
            <div class="modal__content">
              <h2>제 1 장 환영합니다!</h2>
              <br>
              <br>
              <h3>제 1 조 (목적 및 정의)</h3><br>
              <br>
              모코(이하 ‘회사’)가 제공하는 서비스를 이용해주셔서 감사합니다. 회사는 여러분이 회사가 제공하는 다양한 서비스에 더 가깝고 편리하게 다가갈 수 있도록 서비스 이용약관(이하
              ‘본 약관’)을 마련하였습니다. 여러분은 본 약관에 동의함으로써 서비스에 가입하여 서비스를 이용할 수 있습니다.
              <br>
              <br>
              <h3>제 2 조 (약관의 효력 및 변경)</h3><br>
              <br>
              ①본 약관의 내용은 통합서비스의 화면에 게시하거나 기타의 방법으로 공지하고, 본 약관에 동의한 여러분 모두에게 그 효력이 발생합니다.<br>
              <br>
              ②회사는 필요한 경우 관련 법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 회사는 변경사항을 시행일자 15일 전부터 여러분에게
              서비스 공지사항에서 공지 또는 통지하는 것을 원칙으로 하며, 피치 못하게 여러분에게 불리한 내용으로 변경할 경우에는 계정에 등록된 이메일 주소로 알려드리겠습니다.<br>
              <br>
              ③회사가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게
              고지하였음에도 여러분의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다.<br>
              <br>
              ④여러분은 변경된 약관에 대하여 거부의사를 표시함으로써 이용계약의 해지를 선택할 수 있습니다.<br>
              <br>
              ⑤본 약관은 여러분이 본 약관에 동의한 날로부터 본 약관 제13조에 따른 이용계약의 해지 시까지 적용하는 것을 원칙으로 합니다. 단, 본 약관의 일부 조항은 이용계약의
              해지 후에도 유효하게 적용될 수 있습니다.<br>
              <br>
              <br>
              <h2>제 2 장 서비스 이용계약</h2><br>
              <br>
              <h3> 제 4 조 (계약의 성립)</h3><br>
              <br>
              ① 서비스에 가입하기 위해서는 모코 계정이 필요합니다. 모코 계정이 없으신 분들은 모코 계정을 회원 가입 혹은 소셜 로그인을 통한 회원가입으로 생성하시길
              바랍니다.<br>
              <br>
              ② 서비스 이용계약은 여러분이 본 약관의 내용에 동의한 후 회사가 여러분의 계정 정보 등을 확인한 후 승낙함으로 체결됩니다.<br>
              <br>
              <h3>제 5 조 (통합서비스 가입의 제한)</h3><br>
              <br>
              ① 제4조에 따른 가입 신청자에게 회사는 원칙적으로 통합서비스 가입을 승낙합니다. 다만, 회사는 아래 각 호의 경우에는 그 사유가 해소될 때까지
              승낙을 유보하거나 승낙하지 않을 수 있습니다.<br>
              - 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 서비스에 가입하려고 한 경우<br>
              - 서비스 제공을 위한 기술적인 부분에 문제가 있다고 판단되는 경우<br>
              - 회사로부터 서비스 이용정지 조치 등을 받은 자가 그 조치기간에 서비스 이용계약을 임의로 해지하고 재가입을 신청하는 경우<br>
              - 기타 관련 법령에 위배되거나 세부 지침 등 회사가 정한 기준에 반하는 경우<br>
              <br>
              <h2>제 3 장 통합서비스 이용</h2><br>
              <br>
              <h3>제 6 조 (다양한 서비스의 제공)</h3><br>
              <br>
              ① 서비스 이용계약이 성립되면, 여러분은 서비스를 구성하는 모각코 모집, 모각코 후기 작성, 모각코 플레이스 기능을 활용할 수
              있습니다. <br>
              ② 여러분은 이용계약 이후 모각코 모집 기능을 활용하여 회사가 제공하는 주된 기능 중 하나인 특정 목적(프로그래밍 언어 학습 및 공동
              과제 수행)을 위한 모임(이하 ‘모각코 모집’)을 직접 모집할 수 있습니다.<br>
              ③ 모각코 모집에서 인원 수, 모임 진행 방식, 주제, 지역 등을 특정하여 원하는 모임을 모집할 수 있습니다.<br>
              ④ 모각코 모집 이후 관련 후기를 작성할 수 있습니다.<br>
              ⑤ 모각코 모집 혹은 모임 과정 중에 적합한 장소에 대한 정보 공유 기능(이하 ‘플레이스 기능’)을 활용할 수 있습니다.<br>
              <br>
              <h3>제 8 조 (게시물의 관리)</h3><br>
              <br>
              ① 여러분의 게시물이 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 ‘정보통신망법’)및 저작권법 등 관련 법령에
              위반되는 내용을 포함하는 경우, 권리자는 회사에 관련 법령이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수
              있으며, 회사는 관련 법령에 따라 조치를 취합니다.<br>
              ② 회사는 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사의 정책 및 관련 법령에 위반되는
              경우에는 관련 법령에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.<br>
              ③ 위와 관련된 세부 절차는 정보통신망법 및 저작권법이 규정한 범위 내에서 회사가 정한 권리침해 신고 절차 에
              따릅니다.<br>
              <br>
              <h3>제 9 조 (권리의 귀속 및 저작물의 이용)</h3><br>
              <br>
              ① 여러분은 사진, 글, 정보, (동)영상, 서비스 또는 회사에 대한 의견이나 제안 등 콘텐츠(이하 ‘게시물’)를
              서비스 내에 게시할 수 있으며, 이러한 게시물에 대한 저작권을 포함한 지적재산권은 당연히 권리자가 계속하여
              보유합니다.<br>
              ② 여러분은 서비스 내에 게시한 게시물에 대한 사용, 저장, 수정, 복제, 공중송신, 전시, 배포 등의 방식으로 이용할
              수 있도록 사용을 허락하는 전 세계적인 라이선스를 회사에게 제공하게 됩니다. 본 라이선스에서 여러분이 회사에게 부여하는
              권리는 서비스를 운영, 개선, 홍보하고 새로운 서비스를 개발하기 위한 범위 내에서 사용되며, 이러한 목적 범위 내에서
              회사와 명시적인 업무계약을 체결한 상대방 또는 다른 이용자에 대한 서브라이선스 또한 여기에 포함됩니다. 또한, 서비스의
              개선 및 연구개발 목적으로 회사 및 회사의 계열사에서 게시물을 사용할 수 있습니다. 일부 개별 서비스에서는 여러분이
              제공한 콘텐츠에 접근하거나 이를 삭제하는 방법을 제공할 수 있습니다(다만 일부 서비스의 특성 및 콘텐츠의 성질 등에
              따라 게시물의 삭제가 불가능할 수도 있습니다). 또한 일부 서비스에서는 제공된 콘텐츠에 대한 회사의 사용 범위를
              제한하는 설정이 있습니다.<br>
              ③ 여러분은 회사에 제공한 콘텐츠에 대해 회사에 라이선스를 부여하기 위해 필요한 권리를 보유해야 합니다. 이러한 권리를
              보유하지 않아 발생하는 모든 문제에 대해서는 게시자가 책임을 부담하게 됩니다. 또한, 여러분은 음란하거나 폭력적이거나
              기타 공서양속 및 법령에 위반하는 콘텐츠를 공개 또는 게시할 수 없습니다.<br>
              ④ 회사는 여러분의 콘텐츠가 관련 법령에 위반되거나 음란 또는 청소년에게 유해한 게시물, 차별 갈등을 조장하는 게시물,
              도배 · 광고 · 홍보 · 스팸성 게시물, 계정을 양도 또는 거래하는 내용의 게시물, 타인을 사칭하는 게시물 등이라고
              판단되는 경우 이를 삭제하거나 게시를 거부할 수 있습니다. 다만 회사가 모든 콘텐츠를 검토할 의무가 있는 것은
              아닙니다. 누군가 여러분의 권리를 침해하였다면, 고객센터를 통해 게시중단 요청에 대한 도움을 받으실 수
              있습니다. <br>
              ⑤ 서비스에서는 회사가 보유하지 않은 일부 콘텐츠가 표시될 수 있습니다. 그러한 콘텐츠에 대해서는 콘텐츠를 제공한
              주체가 단독으로 모든 책임을 부담하게 됩니다. 여러분이 서비스를 이용하더라도 다른 이용자의 콘텐츠에 대하여 어떠한
              권리를 가지게 되는 것은 아닙니다. 여러분이 다른 이용자의 콘텐츠를 사용하기 위해서는 콘텐츠 소유자로부터 별도로 허락을
              받아야 합니다.<br>
              <br>
              <h3>제 9 조 (서비스 이용 방법 및 주의점)</h3>
              <br>
              ① 여러분은 서비스를 자유롭게 이용할 수 있으나, 아래 각 호의 행위를 하여서는 안됩니다.<br>
              1. 이용 신청 또는 변경 시 허위 사실을 기재하거나, 다른 사람의 계정 및 비밀번호를 도용, 부정하게
              사용하거나, 다른 사람의 명의를 사용하거나 명의자의 허락 없이 문자메시지(SMS) 인증 등을 수행하는
              행위<br>
              2. 회사의 서비스 정보를 이용하여 얻은 정보를 회사의 사전 승낙 없이 복제 또는 유통시키거나 상업적으로
              이용하는 행위<br>
              3.타인의 명예를 손상시키거나 불이익을 주는 행위<br>
              4.게시판 등에 음란물을 게재하거나 음란사이트를 연결(링크)하는 행위<br>
              5.회사 또는 제3자의 저작권 등 기타 권리를 침해하는 행위(국내외 제3자의 저작권 등을 침해하는 행위로서
              회사가 IP 접속 차단 등 기술적인 조치를 통하여 타인에 대한 권리 침해 방지 조치를 취하였음에도 불구하고
              이용자가 회사를 기망하는 수단과 방법 등을 통하여 서비스에 접속 하는 등 제3자의 저작권 등을 침해하는 행위를
              포함합니다)<br>
              6.서비스 내에 회사나 제3자 등에 대한 허위의 사실을 게시하는 행위<br>
              7.공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형, 음성 등을 타인에게 유포하는 행위<br>
              8.서비스와 관련된 설비의 오동작이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 바이러스 감염 자료를 등록
              또는 유포하는 행위<br>
              9.서비스의 운영을 방해하거나 안정적 운영을 방해할 수 있는 정보 및 수신자의 명시적인 수신거부의사에 반하여
              또는 수신자의 명시적인 동의 없이 광고성 정보 또는 스팸메일(Spam Mail)을 전송하는 행위<br>
              10.회사의 동의 없이 서비스 또는 이에 포함된 소프트웨어의 일부를 복사, 수정, 배포, 판매, 양도, 대여,
              담보제공하거나 타인에게 그 이용을 허락하는 행위와 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등
              서비스를 복제, 분해 또는 모방하거나 기타 변형하는 행위<br>
              11.타인으로 가장하는 행위 및 타인과의 관계를 허위로 명시하는 행위<br>
              12.다른 이용자의 개인정보를 수집, 저장, 공개하는 행위<br>
              13.자기 또는 타인에게 재산상의 이익을 주거나 타인에게 손해를 가하는 등 피해를 입힐 목적으로 허위의 정보를
              유통시키는 행위<br>
              14.재물을 걸고 도박하거나 사행행위를 하는 행위<br>
              15.윤락행위를 알선하거나 음행을 매개하는 내용의 정보를 유통시키는 행위<br>
              16.수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글이나 화상 또는 영상을 계속하여 상대방에게
              도달하게 하여 상대방의 일상적 생활을 방해하는 행위<br>
              17.관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 포함)의 전송 또는 게시
              행위<br>
              18.회사 또는 관계사의 직원이나 운영자를 가장하거나 사칭하여 또는 타인의 명의를 도용하여 글을 게시하거나
              E-mail 등을 발송하는 행위<br>
              19.컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 가능성이 있는 소프트웨어
              바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 E-mail 등으로
              발송하는 행위<br>
              20.스토킹(stalking), 허위 또는 악의적 신고 남용 등 다른 이용자를 괴롭히는 행위<br>
              21. 기타 현행 법령, 본 약관 및 운영정책 등 회사가 제공하는 서비스 관련 세부지침을 위반하는 행위<br>
              <br>
              ② 여러분은 서비스의 이용 권한, 기타 이용계약상 지위를 타인에게 양도·증여할 수 없으며, 담보로 제공할 수
              없습니다.<br>
              ③ 혹시라도 여러분이 관련 법령, 회사의 모든 약관 또는 정책을 준수하지 않는다면, 회사는 여러분의 위반행위
              등을 조사할 수 있고, 해당 게시물 등을 삭제 또는 임시 삭제하거나 여러분의 계정・서비스 전체 또는 서비스를
              구성하는 일부 개별 서비스의 이용을 잠시 또는 계속하여 중단하거나, 서비스 재가입에 제한을 둘 수도 있습니다.
              또한 여러분이 서비스와 관련된 설비의 오작동이나 시스템의 파괴 및 혼란을 유발하는 등 서비스 제공에 악영향을
              미치거나 안정적 운영을 심각하게 방해한 경우, 회사는 이러한 위험 활동이 확인된 여러분의 계정들에 대하여
              이용제한을 할 수 있습니다. 다만, 여러분은 이용제한과 관련하여 조치 결과가 불만족스러울 경우 고객센터를 통해
              이의를 제기할 수 있습니다.
              <br>
              <h3> 제 10 조 (이용계약 해지)</h3><br>
              <br>
              ① 여러분이 모코 계정 탈퇴를 하는 경우 서비스 이용 계약도 자동으로 해지됩니다.<br>
              ② 서비스 이용계약 해지를 원하는 경우 여러분은 언제든지 서비스 내 제공되는 메뉴를 통해 해지 신청을 할
              수 있습니다.<br>
              ③ 통합서비스 이용계약이 해지되면 관련 법령 및 카카오 개인정보 처리방침에 따라 여러분의 일정 정보를
              보유하는 경우를 제외하고는 여러분의 정보나 여러분이 작성한 게시물 등 모든 데이터는 삭제됩니다. 다만,
              여러분이 작성한 게시물이 제3자에 의하여 스크랩 또는 다른 공유 기능으로 게시되거나, 여러분이 제3자의
              게시물에 댓글 등 게시물을 추가하는 등의 경우에는 해당 게시물 및 댓글은 삭제되지 않으므로 반드시 해지
              신청 전에 삭제하시기 바랍니다.<br>
            </div>
          </div>
        </div>
        <div id="signup__modal-2" class="modal-overlay" style="display: none;">
          <div class="modal__window">
            <div class="modal__title">
              <h3>개인정보취급방침</h3>
            </div>
            <div class="modal-close"><i class="fa-solid fa-xmark"></i></div>
            <div class="modal__content">
              <h2>1. 모코 개인정보 처리방침</h2><br>
              <br>
              “개인정보 처리방침”이란 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미하며,
              카카오는 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하여 개인정보 처리방침을 제공합니다.<br>
              <br>
              모코는 이용자의 동의를 기반으로 개인정보를 수집·이용 및 제공하고 있습니다.<br>
              <br>
              <h3> 2. 개인정보 수집 </h3><br>
              <br>
              서비스 제공을 위한 필요 최소한의 개인정보를 수집합니다. <br>
              회원 가입 시 또는 서비스 이용 과정에서 홈페이지를 통해 서비스 제공을 위해 필요 최소한의 개인정보를 수집하고 있습니다.<br>
              <br>
              [모코 계정 가입 시]<br>
              &nbsp;&nbsp;&nbsp;&nbsp;필수<br>
              회원 아이디, 비밀번호, 이름, 닉네임, 성별, 직업, 생년월일<br>
              &nbsp;&nbsp;&nbsp;&nbsp;선택<br>
              프로필 이미지, 상세 설명<br>
              <br>
              개인정보를 수집하는 방법은 아래와 같습니다.<br>
              <br>
              개인정보를 수집하는 경우에는 원칙적으로 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법으로 개인정보를 수집합니다.<br>
              - 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우<br>
              - 고객센터를 통한 상담 과정에서 웹페이지, 메일, 팩스, 전화 등<br>
              - 온·오프라인에서 진행되는 이벤트/행사 등 참여<br>
              <br>
              서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br>
              <br>
              PC웹, 모바일 웹/앱 이용 과정에서 단말기정보(OS, 화면사이즈, 디바이스 아이디, 폰기종, 단말기 모델명), IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가
              자동으로 생성되어 수집될 수 있습니다.<br>
              <br>
              서비스 간 제휴, 연계 등으로 제3자로부터 개인정보를 제공받습니다.<br>
              <br>
              <h3>3. 개인정보 이용</h3><br>
              <br>
              회원관리, 서비스 제공·개선, 신규 서비스 개발 등을 위해 이용합니다.<br>
              <br>
              - 회원 식별/가입의사 확인, 본인/연령 확인, 부정이용 방지<br>
              - 신규 서비스 개발, 다양한 서비스 제공, 문의사항 또는 불만처리, 공지사항 전달<br>
              - 서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 행위 등 포함)에 대한 방지 및 제재<br>
              - 서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계, 프라이버시 보호 측면의 서비스 환경 구축, 서비스 개선에 활용<br>
              <br>
              <h3>4. 개인정보 제공</h3>
              <br>
              모코는 이용자의 별도 동의가 있거나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.<br>
              <br>
              모코는 이용자의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 다만, 이용자가 카카오계정 로그인 서비스를 이용하거나 외부 제휴사 등의 서비스를 이용하는 경우 필요한 범위 내에서
              이용자의 동의를 얻은 후에 개인정보를 제3자에게 제공하고 있습니다.<br> 또한 해외 서비스 이용을 위해 이용자의 동의를 받아 국외로 개인정보가 제공될 수 있으며, 국외 이전 시 제공받는 자
              및 이전국가 등에 대해 고지하여 별도 동의를 받고 있습니다.<br>
              모코는 재난, 감염병, 급박한 생명・신체 위험을 초래하는 사건사고, 급박한 재산 손실 등의 긴급상황이 발생하는 경우 정보주체의 동의 없이 관계기관에 개인정보를 제공할 수 있습니다.<br>
              <br>
              <h3>5. 개인정보 파기</h3>
              <br>
              수집 및 이용목적이 달성된 경우 수집한 개인정보는 지체없이 파기하며, 절차 및 방법은 아래와 같습니다.<br>
              수집 및 이용 목적의 달성 또는 회원 탈퇴 등 파기 사유가 발생한 경우 개인정보의 형태를 고려하여 파기방법을 정합니다. 전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고,
              그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.<br>
              또한, 모코는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 이용자의 개인정보를 별도로 분리 보관 또는 삭제하고 있으며, 분리 보관된 개인정보는 4년간 보관 후 지체없이
              파기합니다.<br>
            </div>
          </div>
        </div>




      </div>
    </div>
    <div id="signup__2nd__container">
      <div class="signup__2nd__nor">
        <span>회원가입</span>
        <div class="input">
          <div class="input__reg__name">
            {{ form.name.errors }}
            <lable for="{{ form.name.id_for_label }}">
              <p style="margin-top: 2.5rem">이름</p>
            </lable>
            <input type="text" name="name" maxlength="10" required="" id="id_name" placeholder="이름">
          </div>
          <div class="input__reg__nickname">
            {{ form.nickname.errors }}
            <lable for="{{ form.nickname.id_for_label }}">
              <p>닉네임</p>
            </lable>
            <input type="text" name="nickname" maxlength="10" required="" id="id_nickname" placeholder="닉네임">
          </div>
          <div class="input__profile">
            {{ form.profile_img.errors }}
            <lable for="{{ form.profile_img.id_for_label }}">
              <p>
                프로필 사진&nbsp;<span style="color: #8c8c8c">(선택)</span><br /><span
                  style="color: #8c8c8c; font-size: 0.5rem">*업로드 안할 시, MOCO에서 제공하는 기본 프로필 사진으로
                  적용됩니다.</span>
              </p>
            </lable>
            <input type="file" name="profile_img" accept="image/*" id="id_profile_img"
              onchange="thumbnailImg(event);" />
            <label for="id_profile_img">
              <div id="input__img__container">
                {% if user.profile_img %}
                <img src="{{user.profile_img.url}}" alt="profile_img"></img>
                {% else %}
                <img src="{% static 'img/moco_symbol.png' %}" alt="profile_img"></img>
                {% endif %}
                <!-- <img src="" onerror="this.style.display='none'"> -->
                <div id="camera__img">
                  <i class="fa-solid fa-camera"></i>
                </div>
              </div>
            </label>
          </div>
          <p>성별</p>
          <div>
            {{ form.gender.errors }}
            <lable for="{{ form.gender.id_for_label }}"></lable>
            <select class="gender-select" name="gender" required="" id="id_gender">
              <option value="" selected="">---------</option>

              <option value="Male">남자</option>

              <option value="Female">여자</option>

            </select>
          </div>
          <p>직업</p>
          <div>
            {{ form.job.errors }}
            <lable for="{{ form.job.id_for_label }}"></lable>
            <select class="career-select" name="job" required="" id="id_job">
              <option value="" selected="">---------</option>

              <option value="Student">학생</option>

              <option value="Job_Seeker">취준생</option>/logout/

              <option value="Worker">직장인</option>

              <option value="Etc">기타</option>

            </select>
          </div>
          <p>생년월일</p>
          <div>
            {{ form.birth.errors }}
            <lable for="{{ form.birth.id_for_label }}"></lable>
            <input class="input__birthday" type="text" name="birth" required="" id="id_birth"
              placeholder="(예시) 1980-01-01">
          </div>
          <p>자기소개&nbsp;<span style="color: #8c8c8c">(선택)</span></p>
          <div class="input__self">
            {{ form.desc.errors }}
            <lable for="{{ form.desc.id_for_label }}"></lable>
            <textarea name="desc" cols="40" rows="5" maxlength="100" id="id_desc"
              placeholder="100자 이내로 입력해주세요."></textarea>
          </div>
        </div>
        <button id="signup__2nd__btn" type="submit" onclick="signup2Function();">가입 완료</button>
      </div>
    </div>
  </form>
</main>
<script>
  const modal = document.getElementById("signup__modal-1")
  const btnModal = document.getElementById("openBtn1")
  btnModal.addEventListener("click", e => {
    modal.style.display = "flex"
  })

  const closeBtn = modal.querySelector(".modal-close")
  closeBtn.addEventListener("click", e => {
    modal.style.display = "none"
  })

  modal.addEventListener("click", e => {
    const evTarget = e.target
    if (evTarget.classList.contains("modal-overlay")) {
      modal.style.display = "none"
    }
  })

  const modal2 = document.getElementById("signup__modal-2")
  const btnModal2 = document.getElementById("openBtn2")
  btnModal2.addEventListener("click", e => {
    modal2.style.display = "flex"
  })

  const closeBtn2 = modal2.querySelector(".modal-close")
  closeBtn2.addEventListener("click", e => {
    modal2.style.display = "none"
  })

  modal2.addEventListener("click", e => {
    const evTarget = e.target
    if (evTarget.classList.contains("modal-overlay")) {
      modal2.style.display = "none"
    }
  })


  /*function signupFunction() {
    const div1st = document.getElementById("signup__1st__container");
    const div2nd = document.getElementById("signup__2nd__container");

    if (div1st.style.display === "none") {
      div1st.style.display = "block";
      div2nd.style.display = "none";
    } else {
      div1st.style.display = "none";
      div2nd.style.display = "block";
    }
  }*/
  const div1st = document.getElementById("signup__1st__container");
  const div2nd = document.getElementById("signup__2nd__container");
  const div_soc_log = document.getElementById("signup-top");
  div2nd.style.display = "none";

  function signup1Function() {
    var uid = document.getElementById("id_username");
    var email_id = document.getElementById("id_email");
    var pwd = document.getElementById("id_password1");
    var repwd = document.getElementById("id_password2");

    if (uid.value == "") {
      alert("아이디를 입력하세요.");
      uid.focus();
      return false;
    };

    var pattern_num = /[0-9]/;	// 숫자 
    var pattern_eng = /[a-zA-Z]/;	// 문자 
    var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
    var pattern_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 한글체크

    if ((pattern_spc.test(uid.value)) || (pattern_kor.test(uid.value))) {
      alert("아이디는 5~20자리 영문(소문자)와 숫자로 설정해주세요.")
      uid.focus();
      return false();
    }

    if (email_id.value == "") {
      alert("이메일 주소를 입력하세요.");
      email_id.focus();
      return false;
    }

    var emailCheck = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

    if (!emailCheck.test(email_id.value)) {
      alert("이메일 형식에 맞춰 입력해주세요.")
      email_id.focus();
      return false;
    }

    if (pwd.value == "") {
      alert("비밀번호를 입력하세요.");
      pwd.focus();
      return false;
    };

    var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;

    if (!pwdCheck.test(pwd.value)) {
      alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~15자리 사용해야 합니다.");
      pwd.focus();
      return false;
    };

    if (repwd.value !== pwd.value) {
      alert("비밀번호가 일치하지 않습니다.");
      repwd.focus();
      return false;
    };

    var cb = document.getElementById("input__reg__cb");
    let is_checked = cb.checked;

    if (is_checked !== true) {
      alert('서비스 이용약관과 개인정보취급방침에 동의해주세요.');
      return false;
    }

    if (div1st.style.display === "flex") {
      div2nd.style.display = "none";
    } else {
      div1st.style.display = "none";
      div_soc_log.style.display = "none";
      div2nd.style.display = "flex";
    }
  }

  //
  //
  //
  //
  //
  //
  //
  //
  function signup2Function() {
    //변수에 담아주기
    var uname = document.getElementById("id_name");
    var nickname = document.getElementById("id_nickname")

    var unameCheck = /^(?=.*[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{1,10}$/;

    if (!unameCheck.test(uname.value)) {
      alert("이름은 10자 이내의 한글로 작성해주세요.");
      uname.focus();
      return false;
    }

    if (uname.value == "") {
      alert("이름을 입력하세요.");
      uname.focus();
      return false;
    };

    var pattern_num = /[0-9]/;	// 숫자 
    var pattern_eng = /[a-zA-Z]/;	// 문자 
    var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
    var pattern_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 한글체크

    if ((pattern_spc.test(nickname.value))) {
      alert("닉네임은 특수문자를 제외하여 10자 이내로 작성해주세요.");
      return false
    }

    // var nicknameCheck = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi

    // if (!nicknameCheck.test(nickname.value)) {
    //   alert("닉네임은 특수문자를 제외하여 10자 이내로 작성해주세요.");
    //   nickname.focus();
    //   return false;
    // }
  }

  function thumbnailImg(event) {
    var reader = new FileReader();

    reader.onload = function (event) {
      var img = document.createElement("img");
      img.setAttribute("src", event.target.result);
      document.querySelector("div#input__img__container").appendChild(img);
    };

    reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% endblock %}