{% extends 'users/account_base.html' %} {% block content %}
<main>
  <form
      action="{% url 'users:signup' %}"
      method="post"
      enctype="multipart/form-data"
    >
    {% csrf_token %}
  <div id="signup__1st__container">
    <div class="signup__1st__nor">
      <span>회원가입</span>
      <div class="input">
          <div class="input__reg__id">
            {{ form.username.errors }}
            <lable for="{{ form.username.id_for_label }}"><p style="margin-top: 2.5rem">아이디</p></lable>
            <input type="text" name="username" maxlength="20" autofocus="" required="" id="id_username" placeholder="아이디">
          </div>
          <div class="input__email">
            {{ form.email.errors }}
            <lable for="{{ form.username.id_for_label }}"><p>이메일</p></lable>
            <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="example@email.com">
          </div>
          <div class="input__reg__pw">
            {{ form.password1.errors }}
            <lable for="{{ form.password1.id_for_label }}"><p>비밀번호</p></label>
              <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="비밀번호">
          </div>
          <p>비밀번호&nbsp;<span style="color: #8c8c8c">(확인)</span></p>
          <div class="input__reg__pw">
            {{ form.password2.errors }}
            <lable for="{{ form.password2.id_for_label }}"></lable>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="비밀번호 (확인)">
          </div>
      </div>
      <button id="signup__1st__btn" onclick="signupFunction()">다음</button>
      <div id="sub__reg__menu">
        회원가입 시, MOCO가 제공하는 서비스를 모두 이용하실 수 있습니다. MOCO의
        <button id="openBtn1">서비스 이용약관</button>,
        <button id="openBtn2">개인정보취급방침</button>에 동의합니다.
        <input type="checkbox" id="input__reg__cb" />
        <label for="input__reg__cb"></label>
      </div>
      <div id="signup__modal-1" class="modal-overlay" style="display: none;">
        <div class="modal__window">
          <div class="modal__title">
            <h3>서비스 이용약관</h3>
          </div>
          <div class="modal-close">X</div>
          <div class="modal__content">
            여우별 감사합니다 아슬라 컴퓨터 바나나 나비잠 사과 아슬라 나래
            감사합니다 비나리 책방 아리아 아슬라 나비잠 아리아 노트북 감사합니다
            별빛 늘품 미리내 로운 노트북 우리는 도르레 아련 함초롱하다 도서관
            바람꽃 바람꽃 예그리나 늘품 미리내 미쁘다 노트북 우리는 나래 옅구름
            산들림 아리아 예그리나 여우별 감사합니다 여우별 도르레 함초롱하다
            아슬라 우리는 소솜 감사합니다. 옅구름 산들림 다솜 도서 감사합니다
            가온해 나래 가온해 곰다시 그루잠 컴퓨터 나비잠 도담도담 달볓 도서
            아름드리 사과 도서관 함초롱하다 아름드리 노트북 비나리 포도 나비잠
            감사합니다 바나나 곰다시 로운 여우비 옅구름 도서관 책방 포도 노트북
            별빛 바나나 컴퓨터 도담도담 달볓 도르레 감사합니다 이플 비나리
          </div>
        </div>
      </div>
      <div id="signup__modal-2" class="modal-overlay" style="display: none;">
        <div class="modal__window">
          <div class="modal__title">
            <h3>개인정보취급방침</h3>
          </div>
          <div class="modal-close">X</div>
          <div class="modal__content">
            여우별 감사합니다 아슬라 컴퓨터 바나나 나비잠 사과 아슬라 나래
            감사합니다 비나리 책방 아리아 아슬라 나비잠 아리아 노트북 감사합니다
            별빛 늘품 미리내 로운 노트북 우리는 도르레 아련 함초롱하다 도서관
            바람꽃 바람꽃 예그리나 늘품 미리내 미쁘다 노트북 우리는 나래 옅구름
            산들림 아리아 예그리나 여우별 감사합니다 여우별 도르레 함초롱하다
            아슬라 우리는 소솜 감사합니다. 옅구름 산들림 다솜 도서 감사합니다
            가온해 나래 가온해 곰다시 그루잠 컴퓨터 나비잠 도담도담 달볓 도서
            아름드리 사과 도서관 함초롱하다 아름드리 노트북 비나리 포도 나비잠
            감사합니다 바나나 곰다시 로운 여우비 옅구름 도서관 책방 포도 노트북
            별빛 바나나 컴퓨터 도담도담 달볓 도르레 감사합니다 이플 비나리
          </div>
        </div>
      </div>
      <div class="signup__sim">
        <hr noshade />
        <span>간편 회원가입</span>
        <hr noshade />
      </div>
      <div class="signup__sim__soc">
        <button>구글</button>
        <button>네이버</button>
        <button>카카오</button>
        <button>깃허브</button>
      </div>
      
    </div>
  </div>
  <div id="signup__2nd__container">
    <div class="signup__2nd__nor">
      <span>회원가입</span>
      <div class="input">
        <div class="input__reg__name">
          {{ form.name.errors }}
          <lable for="{{ form.name.id_for_label }}"><p style="margin-top: 2.5rem">이름</p></lable>
          <input type="text" name="name" maxlength="10" required="" id="id_name" placeholder="이름">
        </div>
        <div class="input__reg__nickname">
          {{ form.nickname.errors }}
          <lable for="{{ form.nickname.id_for_label }}"><p>닉네임</p></lable>
          <input type="text" name="nickname" maxlength="10" required="" id="id_nickname" placeholder="닉네임">
        </div>
        <p>
          프로필 사진&nbsp;<span style="color: #8c8c8c">(선택)</span><br /><span
            style="color: #8c8c8c; font-size: 0.5rem"
            >*업로드 안할 시, MOCO에서 제공하는 기본 프로필 사진으로
            적용됩니다.</span
          >
        </p>
        <div class="input__profile">
          {{ form.profile_img.errors }}
          <lable for="{{ form.profile_img.id_for_label }}"></lable>
            <input type="file" name="profile_img" accept="image/*" id="id_profile_img" style="display: none;">
            <label class="input__img" for="id_profile_img"
            ><span id="input__plus"> + </span>
            <span id="input__plus__desc"
              >&nbsp;&nbsp;이미지를 드래그하거나<br />클릭해서 업로드
              해주세요</span
            >
          </label>
        </div>
        <p>성별</p>
        <div>
          {{ form.gender.errors }}
          <lable  for="{{ form.gender.id_for_label }}"></lable>
          <select class="gender-select" name="gender" required="" id="id_gender">
            <option value="" selected="">---------</option>
          
            <option value="Male">남자</option>
          
            <option value="Female">여자</option>
          
          </select>
        </div>
        <p>직업</p>
        <div>
          {{ form.job.errors }}
          <lable for="{{ form.job.id_for_label }}"></lable>
          <select class="career-select" name="job" required="" id="id_job">
            <option value="" selected="">---------</option>
          
            <option value="Student">학생</option>
          
            <option value="Job_Seeker">취준생</option>
          
            <option value="Worker">직장인</option>
          
            <option value="Etc">기타</option>
          
          </select>
        </div>
        <p>생년월일</p>
        <div>
          {{ form.birth.errors }}
          <lable for="{{ form.birth.id_for_label }}"></lable>
          <input class="input__birthday" type="text" name="birth" required="" id="id_birth" placeholder="(예시) 1980-01-01">
        </div>
        <p>자기소개&nbsp;<span style="color: #8c8c8c">(선택)</span></p>
        <div class="input__self">
          {{ form.desc.errors }}
          <lable for="{{ form.desc.id_for_label }}"></lable>
          <textarea name="desc" cols="40" rows="5" maxlength="100" id="id_desc" placeholder="100자 이내로 입력해주세요."></textarea>
        </div>
      </div>
      <button id="signup__2nd__btn" onclick="joinform_check();">가입 완료</button>
    </div>
  </div>
  </form>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</main>
<script>
  const modal = document.getElementById("signup__modal-1")
  const btnModal = document.getElementById("openBtn1")
  btnModal.addEventListener("click", e => {
    modal.style.display = "flex"
  })

  const closeBtn = modal.querySelector(".modal-close")
  closeBtn.addEventListener("click", e => {
    modal.style.display = "none"
  })

  modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modal.style.display = "none"
    }
  })

  const modal2 = document.getElementById("signup__modal-2")
  const btnModal2 = document.getElementById("openBtn2")
  btnModal2.addEventListener("click", e => {
    modal2.style.display = "flex"
  })

  const closeBtn2 = modal2.querySelector(".modal-close")
  closeBtn2.addEventListener("click", e => {
    modal2.style.display = "none"
  })

  modal2.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modal2.style.display = "none"
    }
  })


  /*function signupFunction() {
    const div1st = document.getElementById("signup__1st__container");
    const div2nd = document.getElementById("signup__2nd__container");

    if (div1st.style.display === "none") {
      div1st.style.display = "block";
      div2nd.style.display = "none";
    } else {
      div1st.style.display = "none";
      div2nd.style.display = "block";
    }
  }*/
  const div1st = document.getElementById("signup__1st__container");
  const div2nd = document.getElementById("signup__2nd__container");
  div2nd.style.display = "none";

  function signupFunction() {
    var uid = document.getElementById("id_username");
    var email_id = document.getElementById("id_email");
    var pwd = document.getElementById("id_password1");
    var repwd = document.getElementById("id_password2");

  if (uid.value == "") { 
    alert("아이디를 입력하세요.");
    uid.focus(); 
    return false; 
  };

  var uidCheck = /^(?=.*[a-zA-Z]).{5,20}$/;

  if (!uidCheck.test(uid.value)) {
    alert("아이디는 5~20자리 영문(소문자)와 숫자로 설정해주세요.")
    uid.focus();
    return false();
  }

   if (email_id.value == "") {
    alert("이메일 주소를 입력하세요.");
    email_id.focus();
    return false;
  }

  var emailCheck = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

  if (!emailCheck.test(email_id.value)) {
    alert("이메일 형식에 맞춰 입력해주세요.")
    email_id.focus();
    return false;
  }

  if (pwd.value == "") {
    alert("비밀번호를 입력하세요.");
    pwd.focus();
    return false;
  };

  var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;

  if (!pwdCheck.test(pwd.value)) {
    alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~15자리 사용해야 합니다.");
    pwd.focus();
    return false;
  };

  if (repwd.value !== pwd.value) {
    alert("비밀번호가 일치하지 않습니다.");
    repwd.focus();
    return false;
  };

  //if (!$("input:checked[id='input__reg__cb']").is(":checked")){ 
	//  alert("에러문구를 표시"); 
  //}

    if (div1st.style.display === "flex") {
      div2nd.style.display = "none";
    } else {
      div1st.style.display = "none";
      div2nd.style.display = "flex";
    }
  }


  //
  //
  //
  //
  //
  //
  //
  //
  function joinform_check() {
  //변수에 담아주기
  var uname = document.getElementById("id_name");
  var nickname = document.getElementById("id_nickname")

  var unameCheck = /^(?=.*[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]).{2,10}$/;

  if (!unameCheck.test(uname.value)) {
    alert("이름은 10자 이내의 한글로 작성해주세요.");
    uname.focus();
    return false;
  }

  if (uname.value == "") {
    alert("이름을 입력하세요.");
    uname.focus();
    return false;
  };

  var nicknameCheck = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi

  if (!nicknameCheck.temst(nickname.value)) {
    alert("닉네임은 특수문자를 제외하여 10자 이내로 작성해주세요.");
    nickname.focus();
    return false;
  }

  document.join_form.submit(); 
}

function id_check() {
  window.open("", "", "width=600, height=200, left=200, top=100");
}

function change_email() {
  var email_add = document.getElementById("email_add");
  var email_sel = document.getElementById("email_sel");

  var idx = email_sel.options.selectedIndex;
  var val = email_sel.options[idx].value;

  email_add.value = val;
}

function search_address() {
  window.open("", "b", "width=600, height=300, left=200, top=100");
}
</script>
{% endblock %}
