{% extends 'posts/base.html' %} {% block content %}
<div class="content">
  <form
    action="{% url 'posts:write' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div id="main_write__top">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>1</h2></div>
        <h2>모집 요건을 작성해주세요</h2>
      </div>
      <div id="main_write__top__select">
        <div class="main_write__top__select_row">
          <div class="main_write__dropdown__select_left">
            <!--<div class="main_write__top__select_title">
              <h3>진행방식</h3>
            </div>
            <div class="main_write__top__box">
              <div class="main_write__dropdown">
                <div class="main_write__select">
                  <div
                    class="main_write__selected"
                    contenteditable="true"
                    placeholder="온라인/오프라인/혼합"
                  ></div>
                  <div class="main_write__caret"></div>
                </div>
                <div class="main_write__menu">
                  <li class="main_write__active">온라인</li>
                  <li>오프라인</li>
                  <li>혼합</li>
                </div>
              </div>
            </div>-->
            <!--드롭다운 아직 연결 안돼서 일단 select box로-->
            <div>
              진행방식 :
              <select name="contact">
                <option selected value="default">----------</option>
                {% for key, value in contacts %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!--드롭다운 아직 연결 안돼서 일단 select box로-->
          <div class="main_write__dropdown__select_right">
            <!--<div class="main_write__top__select_title">
              <h3>모임형태</h3>
            </div>
            <div class="main_write__top__box">
              <div class="main_write__dropdown">
                <div class="main_write__select">
                  <div
                    class="main_write__selected"
                    contenteditable="true"
                    placeholder="정기/번개"
                  ></div>
                  <div class="main_write__caret"></div>
                </div>
                <ul class="main_write__menu">
                  <li class="main_write__active">정기</li>
                  <li>번개</li>
                </ul>
              </div>
            </div>-->
            <!--드롭다운 아직 연결 안돼서 일단 select box로-->
            <div>
              기간 :
              <select name="duration">
                <option selected value="default">----</option>
                {% for key, value in durations %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <!--드롭다운 아직 연결 안돼서 일단 select box로-->
          </div>
        </div>
        <div class="main_write__top__select_row">
          <div class="main_write__top__select_left">
            <div class="main_write__top__select_title">
              <h3>모집인원</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="number"
                class="main_write__top__box_text"
                name="number"
                placeholder="직접 입력"
              />
            </div>
          </div>
          <div class="main_write__top__select_right">
            <div class="main_write__top__select_title">
              <h3>지역</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="text"
                class="main_write__top__box_text"
                name="location"
                placeholder="직접 입력"
              />
            </div>
          </div>
        </div>
        <div class="main_write__top__select_row">
          <div class="main_write__top__select_left">
            <div class="main_write__top__select_title">
              <h3>모집링크</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="text"
                class="main_write__top__box_text"
                name="apply_link"
                placeholder="구글폼 링크를 입력해주세요"
              />
            </div>
          </div>
          <div class="main_write__top__select_right">
            <div class="main_write__top__select_title">
              <h3>개발언어(선택)</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="text"
                class="main_write__top__box_text"
                name="tag"
                placeholder="직접 입력"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main_write__tag">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>2</h2></div>
        <h2>태그를 입력해주세요</h2>
      </div>
      <div class="main_write__tag_write__main">
        <div class="main_write__tag_write__main_title"><h3>태그</h3></div>
        <div class="main_write__tag_write__main_content">
          <input
            type="text"
            class="main_write__tag__main_content_input"
            placeholder="태그를 입력해주세요"
          />
        </div>
      </div>
    </div>
    <div id="main_write__content">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>3</h2></div>
        <h2>글 제목과 내용을 작성해주세요</h2>
      </div>
      <div class="main_write__tag_write__main">
        <div class="main_write__tag_write__main_title"><h3>제목</h3></div>
        <div class="main_write__tag_write__main_content">
          <input
            type="text"
            class="main_write__tag__main_content_input"
            name="title"
            placeholder="제목을 작성해주세요"
          />
        </div>
        <div id="main_write__content__contents">
          <div class="main_write__tag_write__main_title"><h3>내용</h3></div>
          <div id="main_write__content__write_txt">
            <textarea
              name="content"
              id="main_write__content_box"
              cols="30"
              rows="10"
              placeholder="내용을 작성해주세요."
            ></textarea>
          </div>
        </div>
      </div>
      <div id="main_write__content__btn">
        <button type="submit" id="main_write__content__btn_cancel">
          <h3>취소</h3>
        </button>
        <input
          id="main_write__content__btn_register"
          type="submit"
          value="등록하기"
        />
      </div>
    </div>
  </form>
  <script src="/static/js/post_main_write.js"></script>
</div>
{% endblock %}
