{% extends 'posts/base.html' %}
{% block content %}
  {% load static %}
  <div class="content">
    <div id="main_detail__top">
      <div id="main_detail__top__back_btn">
        <a href="{% url 'posts:home' %}">
          <i class="fa-solid fa-arrow-left fa-2x"></i>
        </a>
      </div>
      <div id="main_detail__top__main">
        <div id="main_detail__top__left">
          <div id="main_detail__top_left__tag">
            <ul class="main_detail__top_left__ul">
              {% if post.activation %}
                <li id="main__detail__top_left__ul__recruit">모집중</li>
              {% else %}
                <li id="main__detail__top_left__ul__recruit_finish">모집완료</li>
              {% endif %}
              {% for tag in tags %}
                <li>{{tag}}</li>
              {% endfor %}
            </ul>
          </div>
          <div id="main_detail__top__title">{{post.title}}</div>
            <div id="main_detail__top__profile">
              <div id="main_detail__top__img">
                <span class="content-title__img">
                  <a href="{% url 'users:profile_view' post.user.id %}">
                    {% if post.user.profile_img %}
                    <div class="profile_img">
                      <img src="{{post.user.profile_img.url}}" alt="profile_img"></img>
                    </div>
                    {% else %}
                    <div class="profile_img">
                      <img src="{% static "img/moco_symbol.png" %}" alt="profile_img"></img>
                    </div>
                    {% endif %}
                  </a>
                </span>
              </div>
              <div id="main_detail__top__name">
                <span>{{post.user.nickname}}</span>
              </div>
              <div id="main_detail__top__time">
                <span>{{post.published_at|date:"Y. m. d" }}</span>
              </div>
            </div>
        </div>
        <div id="main_detail__top__right">
          {% if can_revise and post.activation %}
            <div id="main_detail__top__apply">
              <form action="{% url 'posts:close' post.id %}" method="post">
                {% csrf_token %}
                <div id="main_detail__complete_modal_btn">
                  <a>모집완료로 전환</a>
                </div>
                <div id="main_detail__complete_modal">
                  <div class="main_detail__complete_modal__overlay">
                    <div class="main_detail__complete_modal__content">
                      <div class="main_detail__complete_modal__close_btn">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                      </div>
                      <h1>모집완료로 전환하시겠어요?</h1>
                      <h3>⚠️한 번 모집 완료로 전환하면 다시 모집중으로 전환이 불가합니다⚠️</h3>
                      <div class="main_detail__complete_modal__btn_flex">
                        <button class="main_detail__complete_btn" type="submit">
                          네, 전환할게요
                        </button>
                        <div class="main_detail__complete_modal__cancel_btn">다시 생각해볼게요</div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="main_detail__like_delete_revise">
                <div class="main_detail__top__like">
                  <button id="{{post.id}}" onclick="post_like(this.id)">
                    {% if like_user %}
                      <i id="blank" class="fa-solid fa-heart"></i>
                      <!-- 빨간색 채워져 있는 하트-->
                      <span id="like_count">{{post.likes}}</span>
                    {% else %}
                      <i id="blank" class="fa-regular fa-heart"></i>
                      <!--비어있는 하트-->
                      <span id="like_count">{{post.likes}}</span>
                    {% endif %}
                  </button>
                </div>
                <div class="main_detail__delete_revise">
                  <div class="main_detail__delete_revise__dropdown_btn">
                    <i class="fa-solid fa-ellipsis fa-2x" style="color: #BFBFBF"></i>
                  </div>
                  <div class="main_detail__delete_revise__content">
                    <div class="main_detail__revise_btn">
                      <a href="{% url 'posts:update' post.id%}">수정</a>
                    </div>
                    <form action="{% url 'posts:delete' post.id %}" method="post">
                      {% csrf_token %}
                      <div id="main_detail__delete_modal_btn">
                        <a>삭제</a>
                      </div>
                      <div id="main_detail__delete_modal">
                        <div class="main_detail__delete_modal__overlay">
                          <div class="main_detail__delete_modal__content">
                            <div class="main_detail__delete_modal__close_btn">
                              <i class="fa-solid fa-xmark fa-lg"></i>
                            </div>
                            <h1>게시글을 삭제하시겠어요?</h1>
                            <h3>⚠️한번 삭제하면 복구가 불가합니다⚠️</h3>
                            <div class="main_detail__delete_modal__btn_flex">
                              <button class="main_detail__delete_btn" type="submit">
                                삭제할게요
                              </button>
                              <div class="main_detail__delete_modal__cancel_btn">다시 생각해볼게요</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% elif not can_revise and post.activation %}
            <div id="main_detail__top__apply_2">
              <button id="main_detail__top__apply_btn" type="button" onclick="location.href='{{post.apply_link}}'">
                지원하기
              </button>
              <div class="main_detail__top__like">
                <button id="{{post.id}}" onclick="post_like(this.id)">
                  {% if like_user %}
                    <i id="blank" class="fa-solid fa-heart"></i>
                    <!-- 빨간색 채워져 있는 하트-->
                    <span id="like_count">{{post.likes}}</span>
                  {% else %}
                    <i id="blank" class="fa-regular fa-heart"></i>
                    <!--비어있는 하트-->
                    <span id="like_count">{{post.likes}}</span>
                  {% endif %}
                </button>
              </div>
            </div>
          {% else %}
            <div id="main_detail__top__apply_3">
              <div class="main_detail__top__recruit_done">모집완료</div>
              <div class="main_detail__top__like">
                <button id="{{post.id}}" onclick="post_like(this.id)">
                  {% if like_user %}
                    <i id="blank" class="fa-solid fa-heart"></i>
                    <!-- 빨간색 채워져 있는 하트-->
                    <span id="like_count">{{post.likes}}</span>
                  {% else %}
                    <i id="blank" class="fa-regular fa-heart"></i>
                    <!--비어있는 하트-->
                    <span id="like_count">{{post.likes}}</span>
                  {% endif %}
                </button>
              </div>
            </div>
            {%endif%}
          </div>
        </div>
        <div id="main_detail__main">
          <div id="main_detail__main__info">
            <div>
              <h4>진행방식</h4>
              <span>{{post.get_contact_display}}</span>
            </div>
            <div>
              <h4>모임형태</h4>
              <span>{{post.get_duration_display}}</span>
            </div>
            <div>
              <h4>모집인원</h4>
              <span>{{post.number}}</span>
            </div>
            <div>
              <h4>지역</h4>
              <span>{{post.location}}</span>
            </div>
          </div>
          <div id="main_detail__main__txt">{{post.content | safe}}</div>
        </div>
        <div id="main_detail__comment">
          <div id="main_detail__comment__top">
            <div id="main_detail__comment__blank">
              <h2>댓글</h2>
              <h2 id="main_detail__comment_num">{{comments_len}}</h2>
            </div>
            <div id="main_detail__comment__rule">
              <span>300자 이내 작성</span>
            </div>
          </div>
          <div id="main_detail__comment__blank_box">
            <form action="{% url 'comments:write-post' post.id %}" method="post">
              {% csrf_token %}
              <textarea type="text" name="content" id="comment_input_box" cols="30" rows="10" placeholder="댓글을 입력해주세요."></textarea>
              <div id="main_detail__comment__btnplace">
                <input type="submit" id="main_detail__comment__btn" value="댓글쓰기"/>
              </div>
            </form>
          </div>
          <div id="main_detail__comment__contents">
            {% for comment in comments %}
              <div class="main_detail__comment__each__contents_div__{{comment.id}}">
                <div id="main_detail__comment__each__contents__{{comment.id}}">
                  <div id="post_detail__comment__contents__profile">
                    <div class="main_detail__comment__contetns__profile_userinfo">
                      <div id="main_detail__comment__contents__img">
                        {% if comment.user.profile_img %}
                          <img src="{{comment.user.profile_img.url}}" width="45px" alt="profile_img"></img>
                        {% else %}
                          <img src="/static/img/moco_symbol.png" width="45px" alt="profile_img"></img>
                        {% endif %}
                      </div>
                      <div id="main_detail__comments__contents__info">
                        <div id="main_detail__comments__contents__name">
                          <span>{{comment.user.nickname}}</span>
                        </div>
                        <div id="main_detail__comments__contents__time">
                          <span>{{comment.published_at|date:"Y. m. d" }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="main_detail__comments__contents__options">
                      {% if comment.user == request.user %}
                        <div class="main_detail__comments_dropdown_btn">
                          <i class="fa-solid fa-ellipsis fa-lg" style="color: #BFBFBF"></i>
                        </div>
                        <div class="main_detail__comments_dropdown_menu">
                          <div class="main_detail__comments_dropdown_menu_revise">
                            <button onclick="changeForm({{comment.id}}, '{{comment.content}}');">수정</button>
                          </div>
                          <div class="main_detail__comments_dropdown_menu_delete">
                            <button onclick="onClickdelete({{comment.id}});">삭제</button>
                          </div>
                        </div>
                        {% endif%}
                      </div>
                    </div>
                    <div id="main_detail__comment__contents__txt__{{comment.id}}">
                      <h1>{{comment.content}}</h1>
                    </div>
                    <div class="main_detail_comment_reply_btn">
                      <button onclick="changeForm2({{comment.id}});">답글</button>
                    </div>
                    <br/>
                    <div class="main_detail_commnet_reply_form">
                      <div id="main_detail_comment_contents_reply_form__{{comment.id}}"></div>
                    </div>
                    <div id="main_detail__comment__contents__reply">
                      {% for recomment in comment.comment_set.all %}
                        <div class="main_detail__comment__contents__reply_bundle__{{recomment.id}}" style="display: flex; justify-content: space-between;">
                          <div>
                            <div class="main_detail__comment__contetns__profile_userinfo">
                              <span style="font-size:1.25rem; font-weight: 600;">ㄴ</span>
                              <div id="main_detail__comment__contents__img">
                                {% if recomment.user.profile_img %}
                                  <img src="{{recomment.user.profile_img.url}}" width="45px" alt="profile_img"></img>
                                {% else %}
                                  <img src="/static/img/moco_symbol.png" width="45px" alt="profile_img"></img>
                                {% endif %}
                              </div>
                              <div id="main_detail__comments__contents__info">
                                <div id="main_detail__comments__contents__name">
                                  <span>{{recomment.user.nickname}}</span>
                                </div>
                                <div id="main_detail__comments__contents__time">
                                  <span>{{recomment.published_at|date:"Y. m. d" }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="reply_txt">
                              {% if recomment.user != comment.user %}
                              <span style="color: #2253FF;">@{{comment.user.nickname}} </span>
                              {% endif %}
                              {{recomment.content}}</div>
                          </div>
                          <div>
                            <div class="main_detail__comments__contents__options">
                              {% if recomment.user == request.user %}
                                <div class="main_detail__comments_revise_delete_btn">
                                  <div class="main_detail__comments_dropdown_btn">
                                    <i class="fa-solid fa-ellipsis fa-lg" style="color: #BFBFBF"></i>
                                  </div>
                                  <div class="main_detail__comments_dropdown_menu">
                                    <div class="main_detail__comments_dropdown_menu_revise">
                                      <button onclick="changeForm4({{recomment.id}}, '{{recomment.content}}');">수정</button>
                                    </div>
                                    <div class="main_detail__comments_dropdown_menu_delete">
                                      <button onclick="onClickdeleteRecmt({{recomment.id}});">삭제</button>
                                    </div>
                                  </div>
                                </div>
                                {% endif%}
                              </div>
                            </div>
                          </div>
                          {% endfor%}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              {%if not post.activation %}
                <div id="main_detail__review">
                  <div id="main_detail__review__top">
                    <div id="main_detail__review__blank">
                      <h2>후기</h2>
                      <h2 id="main_detail__review_num">{{review_len}}</h2>
                    </div>
                    <div id="main_detail__review__rule">
                      <span>300자 이내 작성</span>
                    </div>
                  </div>
                  <form action="{% url 'posts:review-write' post.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="main_detail__review__blank_box">
                      <div id="main_detail__review__filebox">
                        <label for="main_detail__review__upload_file">
                          <div id="main_detail__review__uploadbtn">
                            <h1>+</h1>
                            <p>이미지를 드래그하거나
                              <br>
                              클릭해서 업로드해주세요</p>
                            {% if review.image.url %}
                              <img src="{{review.image.url}}" alt="review_image"/>
                            {% else %}
                              <img src="{{review.image.url}}" alt="review_image" onerror="this.style.display='none'"/>
                              {%endif%}
                            </div>
                          </label>
                          <input type="file" name="review_image" id="main_detail__review__upload_file" accept="image/*" onchange="thumbnailImg(event);"/>
                        </div>
                        <textarea name="review_content" id="review_input_box" cols="30" rows="10" placeholder="후기를 입력하세요."></textarea>
                      </div>
                      <div id="main_detail__review__btnplace">
                        <button type="submit" id="main_detail__review__btn">
                          <p>후기 작성</p>
                        </button>
                      </div>
                    </form>
                    <div id="main_detail__review__contents">
                      {% for review in reviews %}
                        {% if review.user == request.user %}
                          <div id="main_detail__review__contents_mine__{{review.id}}" class="main_detail__review__contents_mine">
                            <div id="main_detail__review__each__contents__{{review.id}}">
                              <div class="main_detail__review__contents_top">
                                <div class="post_review__contents_box__user_info">
                                  <div class="review__contents_box__profile">
                                    <div class="review__contents_box__profile_img">
                                      {% if review.user.profile_img %}
                                        <img src="{{review.user.profile_img.url}}" alt="profile_img"></img>
                                      {% else %}
                                        <img src="/static/img/moco_symbol.png" alt="profile_img"></img>
                                      {% endif %}
                                    </div>
                                    <div class="main_detail_review__contents_box__info">
                                      <div class="main_detail__contents__profile_name">
                                        <span>{{review.user.nickname}}</span>
                                      </div>
                                      <div class="main_detail__contents__profile_time">
                                        <span>{{review.write_at|date:"Y. m. d" }}</span>
                                      </div>
                                    </div>
                                  </div>
                                  {% if review.user == post.user %}
                                    <div class="review__contents_box__auth">
                                      <div id="review__contents_box__auth_host">주최자</div>
                                    </div>
                                  {% else %}
                                    <div class="review__contents_box__auth">
                                      <div id="review__contents_box__auth_guest">참여자</div>
                                    </div>
                                    {%endif%}
                                  </div>
                                  <div class="main_detail__review__contents__options">
                                    {% if review.user == request.user %}
                                      <div class="main_detail__review_dropdown_btn">
                                        <i class="fa-solid fa-ellipsis fa-2x" style="color: #BFBFBF"></i>
                                      </div>
                                      <div class="main_detail__review_dropdown_menu">
                                        <div class="main_detail__review_dropdown_menu_revise">
                                          {% if review.image %}
                                          <button onclick="changeForm3({{review.id}}, '{{review.content}}', '{{review.image.url}}');">수정</button>
                                          {% else %}
                                          <button onclick="changeForm3({{review.id}}, '{{review.content}}', '');">수정</button>
                                          {% endif %}
                                    </div>
                                        <div class="main_detail__review_dropdown_menu_delete">
                                          <button onclick="onClickdelete2({{review.id}})">삭제</button>
                                        </div>
                                      </div>
                                      {% endif%}
                                    </div>
                                  </div>
                                  <div class="main_detail__review__contents_content__{{review.id}} main_detail__img_size">
                                    {% if review.image %}
                                      <img src="{{review.image.url}}"/>
                                    {% else %}
                                    <img src="/static/img/image-solid.svg" alt="no_image" ></img>
                                    {% endif %}
                                    <div class="main_detail__review__contents_text">
                                      {{review.content}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% else %}
                              <div id="main_detail__review__contents_others__{{review.id}}" class="main_detail__review__contents_others">
                                <div id="main_detail__review__each__contents__{{review.id}}">
                                  <div class="main_detail__review__contents_top">
                                    <div class="review__contents_box__user_info">
                                      <div class="review__contents_box__profile">
                                        <div class="review__contents_box__profile_img">
                                          {% if review.user.profile_img %}
                                            <img src="{{review.user.profile_img.url}}" alt="profile_img"></img>
                                          {% else %}
                                            <img src="/static/img/moco_symbol.png" alt="profile_img"></img>
                                          {% endif %}
                                        </div>
                                        <div class="main_detail_review__contents_box__info">
                                          <div class="main_detail__contents__profile_name">
                                            <span>{{review.user.nickname}}</span>
                                          </div>
                                          <div class="main_detail__contents__profile_time">
                                            <span>{{review.write_at|date:"Y. m. d" }}</span>
                                          </div>
                                        </div>
                                      </div>
                                      {% if review.user == post.user %}
                                        <div class="review__contents_box__auth">
                                          <div id="review__contents_box__auth_host">주최자</div>
                                        </div>
                                      {% else %}
                                        <div class="review__contents_box__auth">
                                          <div id="review__contents_box__auth_guest">참여자</div>
                                        </div>
                                        {%endif%}
                                      </div>
                                      <div class="main_detail__review__contents__options">
                                        {% if review.user == request.user %}
                                          <div class="main_detail__review_dropdown_btn">
                                            <i class="fa-solid fa-ellipsis fa-2x" style="color: #BFBFBF"></i>
                                          </div>
                                          <div class="main_detail__review_dropdown_menu">
                                            <div class="main_detail__review_dropdown_menu_revise">
                                              {% if review.image.url %}
                                              <button onclick="changeForm3({{review.id}}, '{{review.content}}', '{{review.image.url}}');">수정</button>
                                              {% else %}
                                              <button onclick="changeForm3({{review.id}}, '{{review.content}}', '');">수정</button>
                                              {% endif %}
                                            </div>
                                            <div class="main_detail__review_dropdown_menu_delete">
                                              <button onclick="onClickdelete2({{review.id}})">삭제</button>
                                            </div>
                                          </div>
                                          {% endif%}
                                        </div>
                                      </div>
                                      <div class="main_detail__review__contents_content__{{review.id}} main_detail__img_size">
                                        {% if review.image %}
                                        <img src="{{review.image.url}}"/>
                                        {% else %}
                                        <img src="/static/img/image-solid.svg" alt="no_image" ></img>
                                        {% endif %}
                                        <div class="main_detail__review__contents_text">
                                          {{review.content}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                            <div class="content-pagination">
                              <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                                <!-- 이전페이지 -->
                                {% if reviews.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ reviews.previous_page_number }}" style="color:#2253FF;">이전</a>
                                    <!-- href로 뎁스 설정 -->
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                </li>
                                {% endif %}
                                <!-- 페이지리스트 -->
                                {% for page_number in reviews.paginator.page_range %}
                                {% if page_number == reviews.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <!-- 다음페이지 -->
                                {% if reviews.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ reviews.next_page_number }}">다음</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                </li>
                                {% endif %}
                            </ul>
                            </div>
                          </div>
                          {%endif%}
                        </div>

                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                        <script>
                          const comModal = document.getElementById("main_detail__complete_modal");
                          const openComModal = document.getElementById("main_detail__complete_modal_btn");
                          openComModal.addEventListener("click", (e) => {
                            comModal.style.display = "block";
                          });

                          const closeComModal = comModal.querySelector(".main_detail__complete_modal__close_btn");
                          closeComModal.addEventListener("click", (e) => {
                            comModal.style.display = "none";
                          });

                          const cancelComModal = comModal.querySelector(".main_detail__complete_modal__cancel_btn");
                          cancelComModal.addEventListener("click", (e) => {
                            comModal.style.display = "none";
                          });
                        </script>

                        <script>
                          const delModal = document.getElementById("main_detail__delete_modal");
                          const openDelModal = document.getElementById("main_detail__delete_modal_btn");
                          openDelModal.addEventListener("click", (e) => {
                            delModal.style.display = "block";
                          });

                          const closeDelModal = delModal.querySelector(".main_detail__delete_modal__close_btn");
                          closeDelModal.addEventListener("click", (e) => {
                            delModal.style.display = "none";
                          });

                          const cancelDelModal = delModal.querySelector(".main_detail__delete_modal__cancel_btn");
                          cancelDelModal.addEventListener("click", (e) => {
                            delModal.style.display = "none";
                          });
                        </script>

                        <script>
                          const delModal2 = document.getElementById("main_detail__delete_modal_2");
                          const openDelModal2 = document.getElementById("main_detail__delete_modal_btn_2");
                          openDelModal2.addEventListener("click", (e) => {
                            delModal2.style.display = "block";
                          });
                        </script>

<script>
  // 댓글 수정
  const changeForm = (id, content) => {
    const reviseCmt = document.getElementById(`main_detail__comment__contents__txt__${id}`)
    reviseCmt.innerHTML =
    `<form action="/comment/revise/${id}" method="post">
        {% csrf_token %}
        <textarea
          type="text"
          name="content"
          id="comment_input_box"
          cols="30"
          rows="10"
          placeholder="댓글을 입력해주세요."
        >${content}</textarea>
        <div id="main_detail__comment__btnplace">
          <a href="{% url 'posts:detail' post.id %}" style="background-color: #bfbfbf;
  border-style: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;">취소</a>
  <input
            type="submit"
            id="main_detail__comment__btn_revise"
            value="댓글 수정"
            style="background-color: #2253ff;
  border-style: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;
  margin-right: 10px;"
          />
        </div>
      </form>`
  }

  // 대댓글 수정
  const changeForm4 = (id, content) => {
    const reviseRecmt = document.querySelector(`.main_detail__comment__contents__reply_bundle__${id}`)
    console.log(reviseRecmt)
    reviseRecmt.innerHTML = 
    `<form action="/comment/revise/${id}" method="post">
        {% csrf_token %}
        <textarea
          type="text"
          name="content"
          id="comment_input_box"
          cols="30"
          rows="10"
          placeholder="댓글을 입력해주세요."
        >${content}</textarea>
        <div id="main_detail__comment__btnplace">
          <a href="{% url 'posts:detail' post.id %}" style="background-color: #bfbfbf;
  border-style: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;">취소</a>
  <input
            type="submit"
            id="main_detail__comment__btn_revise"
            value="대댓글 수정"
            style="background-color: #2253ff;
  border-style: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;
  margin-right: 10px;"
          />
        </div>
      </form>`
  }

                          // 대댓글
                          const changeForm2 = (id) => {
                            const reCmt = document.getElementById(`main_detail_comment_contents_reply_form__${id}`)
                            reCmt.innerHTML = `<form action="/comment/recomment/${id}" method="post">{% csrf_token %}<textarea type="text" name="content"></textarea>
      <div class="comment-revise__button"><a href="{% url 'posts:detail' post.id %}">취소</a><input type="submit" value="등록"/></div></form>`
                          }

  //대댓글 삭제
  const recmtDelete = new XMLHttpRequest();
  const onClickdeleteRecmt = (id) => {
      const url = "/comment/delete";
      recmtDelete.open("POST",url,true);
      recmtDelete.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
      );
      recmtDelete.send(JSON.stringify({'id':id}));
  }
  recmtDelete.onreadystatechange = () => {
      if (recmtDelete.readyState === XMLHttpRequest.DONE){
          if(recmtDelete.status < 400){
              const {id, len} = JSON.parse(recmtDelete.response);
              const topdomRcmt = document.getElementById("main_detail__comment__contents__reply");
              console.log(topdomRcmt)
              const deletedomRcmt = document.querySelector(`.main_detail__comment__contents__reply_bundle__${id}`)
              console.log(deletedomRcmt)
              topdomRcmt.removeChild(deletedomRcmt);
              const cmtLen = document.getElementById('main_detail__comment_num')
              cmtLen.innerHTML = len
          }
      }
  }

                          // 댓글 삭제
                          const cmtDelete = new XMLHttpRequest();
                          const onClickdelete = (id) => {
                            const url = "/comment/delete";
                            cmtDelete.open("POST", url, true);
                            cmtDelete.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                            cmtDelete.send(JSON.stringify({'id': id}));
                          }
                          cmtDelete.onreadystatechange = () => {
                            if (cmtDelete.readyState === XMLHttpRequest.DONE) {
                              if (cmtDelete.status < 400) {
                                const {id, len} = JSON.parse(cmtDelete.response);
                                const topdom = document.getElementById("main_detail__comment__contents");
                                const deletedom = document.querySelector(`.main_detail__comment__each__contents_div__${id}`);
                                topdom.removeChild(deletedom);
                                const cmtLen = document.getElementById('main_detail__comment_num')
                                cmtLen.innerHTML = len
                              }
                            }
                          }

                          // 후기 수정
                          const changeForm3 = (id, content, imgurl) => {
                            console.log(imgurl)
                            const reviseRvw = document.querySelector(`.main_detail__review__contents_content__${id}`)
    if(imgurl != '') {
      reviseRvw.innerHTML = 
      `<form action="/post/review/revise/${id}" method="post" enctype="multipart/form-data" style="margin: 0 20px">
        {% csrf_token %}
        <div id="main_detail__review__blank_box">
          <div id="main_detail__review__filebox">
            <img src="${imgurl}" style="width: 90%; height: 90%; margin-bottom: 10px;"/>
            <input
              type="file"
              name="review_image"
              class="main_detail__review__upload_file"
              accept="image/*"
            />
          </div>
          <textarea
            name="review_content"
            id="review_input_box"
            cols="30"
            rows="10"
            placeholder="후기를 입력하세요."
          >${content}</textarea>
        </div>
        <div id="main_detail__review__btnplace">
          <a href="{% url 'posts:detail' post.id %}">취소</a>
          <button type="submit" id="main_detail__review__btn_revise">
            <p>후기 수정</p>
          </button>
        </div>
      </form>`  
    }
    else {
      reviseRvw.innerHTML = 
      `<form action="/post/review/revise/${id}" method="post" enctype="multipart/form-data" style="margin: 0 20px">
        {% csrf_token %}
        <div id="main_detail__review__blank_box">
          <div id="main_detail__review__filebox">
            <img src="/static/img/image-solid.svg" style="width: 90%; height: 90%;"/>
            <input
              type="file"
              name="review_image"
              class="main_detail__review__upload_file"
              accept="image/*"
            />
          </div>
          <textarea
            name="review_content"
            id="review_input_box"
            cols="30"
            rows="10"
            placeholder="후기를 입력하세요."
          >${content}</textarea>
        </div>
        <div id="main_detail__review__btnplace">
          <a href="{% url 'posts:detail' post.id %}">취소</a>
          <button type="submit" id="main_detail__review__btn_revise">
            <p>후기 수정</p>
          </button>
        </div>
      </form>`
  
    }
                          }

                          // 후기 삭제
                          const rvwDelete = new XMLHttpRequest();
                          const onClickdelete2 = (id) => {
                            const url = "/post/review/delete";
                            rvwDelete.open("POST", url, true);
                            rvwDelete.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                            rvwDelete.send(JSON.stringify({'id': id}));
                          }
                          rvwDelete.onreadystatechange = () => {
                            if (rvwDelete.readyState === XMLHttpRequest.DONE) {
                              if (rvwDelete.status < 400) {
                                const {id, len} = JSON.parse(rvwDelete.response);
                                console.log(len)
                                const topdom = document.getElementById("main_detail__review__contents");
                                const deletedom = document.getElementById(`main_detail__review__contents_mine__${id}`);
                                topdom.removeChild(deletedom);
                                const rvwLen = document.getElementById('main_detail__review_num')
                                rvwLen.innerHTML = len
                              }
                            }
                          }
                        </script>
                        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                        <script type="text/javascript">
                          function post_like(id) {
                            $.ajax({
                              url: "{%url 'users:likes' 1 %}", // data를 전송할 url 입니다. post = 1
                              data: {
                                'id': id
                              }, // id 값 전송
                              dataType: "json",
                              success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                                $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
                                if ($('#blank').hasClass("fa-regular fa-heart")) 
                                  $('#blank')
                                    .removeClass("fa-regular fa-heart")
                                    .addClass("fa-solid fa-heart");
                                else 
                                  $('#blank')
                                    .removeClass("fa-solid fa-heart")
                                    .addClass("fa-regular fa-heart");
                                if (response.error) {
                                  window
                                    .location
                                    .replace("http://127.0.0.1:8000/account/login"); // 배포용 서버로 변경
                                }
                              }
                            })
                          }

                          function dp_menu() {
                            let click = document.getElementById("drop-content");
                            if (click.style.display === "none") {
                              click.style.display = "block";
                            } else {
                              click.style.display = "none";
                            }
                          }

                          // 후기 이미지 바로 띄우기
                          function thumbnailImg(event) {
                            var reader = new FileReader();

                            reader.onload = function (event) {
                              var img = document.createElement("img");
                              img.setAttribute("src", event.target.result);
                              document
                                .querySelector("div#main_detail__review__uploadbtn")
                                .appendChild(img);
                            };

                            reader.readAsDataURL(event.target.files[0]);
                          }
                        </script>

                      {% endblock content%}
