{% extends 'posts/base.html' %} {% block content %}
<div class="content">
  <div id="main_detail__top">
    <div id="main_detail__top__back_btn">
      <a href=""><i class="fa-solid fa-arrow-left fa-2x"></i></a>
    </div>
    <div id="main_detail__top__main">
      <div id="main_detail__top__left">
        <div id="main_detail__top_left__tag">
          <ul class="main_detatil__top_left__ul">
            <li id="main__detail__top_left__ul__recruit">모집중</li>
            <li>오프라인</li>
            <li>서울</li>
            <li>프론트엔드</li>
            <li>초보자</li>
            <li>포트폴리오</li>
          </ul>
        </div>
        <div id="main_detail__top__title">{{post.title}}</div>
        <div id="main_detail__top__profile">
          <div id="main_detail__top__img">
            <i class="fa-solid fa-circle-user fa-2x"></i>
          </div>
          <div id="main_detail__top__name">
            <span>{{post.user.nickname}}</span>
          </div>
          <div id="main_detail__top__time">
            <span>{{post.published_at}}</span>
          </div>
        </div>
      </div>
      <div id="main_detail__top__right">
        <div id="main_detail__top__apply">
          {% if can_revise and post.activation %}
          <form action="{% url 'posts:close' post.id %}" method="post">
            {% csrf_token %}
            <button>모집완료로 전환</button>
          </form>
          <a href="{% url 'posts:update' post.id%}">수정</a>
          <form action="{% url 'posts:delete' post.id %}" method="post">
            {% csrf_token %}
            <button>삭제</button>
          </form>
          {% elif can_revise and not post.activation %}
          <button>모집완료</button>
          <form action="{% url 'posts:delete' post.id %}" method="post">
            {% csrf_token %}
            <button>삭제</button>
          </form>
          {% elif not can_revise and post.activation %}
          <button id="main_detail__top__apply_btn" type="submit">
            지원하기
          </button>
          {% else %}
          <button>모집완료</button>
          {%endif%}
        </div>
        <div id="main_detail__top__like">
          <form action="{% url 'likes:add' post.id 1 %}" method="post">
            {% csrf_token %}
            <button id="main_detail__top__like_btn" type="button">
              <i class="fa-regular fa-heart fa-lg"></i>
              <p>{{len_likes}}좋아요</p>
            </button>
          </form>
          <form action="{% url 'likes:delete' post.id 1 %}" method="post">
            {% csrf_token %}
            <button id="main_detail__top__like_btn" type="button">
              <i class="fa-regular fa-heart fa-lg"></i>
              <p>{{len_likes}}좋아요 취소</p>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="main_detail__main">
    <div id="main_detail__main__info">
      <div>
        <h4>진행방식</h4>
        <span>{{post.contact}}</span>
      </div>
      <div>
        <h4>모임형태</h4>
        <span>{{post.duration}}</span>
      </div>
      <div>
        <h4>모집인원</h4>
        <span>{{post.number}}</span>
      </div>
      <div>
        <h4>지역</h4>
        <span>{{post.location}}</span>
      </div>
      <div>
        <h4>개발언어</h4>
        <span>{{post.tag}}</span>
      </div>
    </div>
    <div id="main_detail__main__txt">{{post.content}}</div>
  </div>
  <div id="main_detail__comment">
    <div id="main_detail__comment__top">
      <div id="main_detail__comment__blank">
        <h2>댓글</h2>
        <h2 id="main_detail__comment_num">2</h2>
      </div>
      <div id="main_detail__comment__rule">
        <span>300자 이내 작성</span>
      </div>
    </div>
    <div id="main_detail__comment__blank_box">
      <form action="{% url 'comments:write' post.id %}" method="post">
        {% csrf_token %}
        <textarea
          type="text"
          name="content"
          id="comment_input_box"
          cols="30"
          rows="10"
          placeholder="댓글을 입력해주세요."
        ></textarea>
        <div id="main_detail__comment__btnplace">
          <input
            type="submit"
            id="main_detail__comment__btn"
            value="댓글쓰기"
          />
        </div>
      </form>
    </div>
    <div id="main_detail__comment__contents">
      {% for comment in comments %}
      <div id="main_detail__comment__each__contents">
        <div id="main_detail__comment__contents__profile">
          <div id="main_detail__comment__contents__img">
            <i class="fa-solid fa-circle-user fa-2x"></i>
            <img src="{{review.user.profile_img}}" alt="profile_img"></img>
          </div>
          <div id="main_detail__comments__contents__info">
            <div id="main_detail__comments__contents__name">
              <span>{{comment.user.nickname}}</span>
            </div>
            <div id="main_detail__comments__contents__time">
              <span>2022-07-28</span>
            </div>
          </div>
        </div>
        <div id="main_detail__comment__contents__txt">
          <span>{{comment.content}}</span>
        </div>
        <div id="main_detail__comment__contents__reply">
          <button></button>
        </div>
        {% if comment.user == request.user %}
        <a href="{% url 'comments:revise' comment.id %}">수정</a>
        <form action="{% url 'comments:delete' comment.id %}" method="post">
          {% csrf_token %}
          <button>삭제</button>
        </form>
        {% else %}
        <a href="{% url 'comments:recomment' comment.id %}">답글</a>
        <br />
        {% endif%}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="main_detail__review">
    <div id="main_detail__review__top">
      <div id="main_detail__review__blank">
        <h2>후기</h2>
        <h2 id="main_detail__review_num">2</h2>
      </div>
      <div id="main_detail__review__rule">
        <span>300자 이내 작성</span>
      </div>
    </div>
    <form action="{% url 'posts:review-write' post.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="main_detail__review__blank_box">
        <div id="main_detail__review__filebox">
          <label for="main_detail__review__upload_file">
            <div id="main_detail__review__uploadbtn">
              <h1>+</h1>
              <p>이미지를 드래그하거나 클릭해서 업로드해주세요</p>
            </div>
          </label>
          <input
            type="file"
            name="review_content"
            id="main_detail__review__upload_file"
            placeholder="이미지를 드래그하거나 클릭해서 업로드해주세요"
          />
        </div>
        <textarea
          name="review_content"
          id="review_input_box"
          cols="30"
          rows="10"
          placeholder="후기를 입력하세요."
        ></textarea>
      </div>
      <div id="main_detail__review__btnplace">
        <button type="submit" id="main_detail__review__btn">
          <p>후기 작성</p>
        </button>
      </div>
    </form>
    {% for review in reviews %}
    <div id="main_detail__review__contents">
      <div class="main_detail__review__contents_top">
        <div class="review__contents_box__user_info">
          <div class="review__contents_box__profile">
            <div class="review__contents_box__profile_img">
              <i class="fa-solid fa-circle-user fa-3x"></i>
              <img src="{{review.user.profile_img}}" alt="profile_img"></img>
            </div>
            <div class="review__contents_box__info">
              <div class="main_detail__contents__profile_name">
                <span>{{review.user.nickname}}</span>
              </div>
              <div class="main_detail__contents__profile_time">
                <span>{{review.write_at}}</span>
              </div>
            </div>
          </div>
          {% if review.user == post.user %}
			    <div class="review__contents_box__auth">
            <div id="review__contents_box__auth_host">주최자</div>
          </div>
			    {% else %}
			    <div class="review__contents_box__auth">
            <div id="review__contents_box__auth_guest">참여자</div>
          </div>
			    {%endif%}
        </div>
        <div class="main_detail__review__contents_revise">
          <img src="/static/img/dots.png" alt="" />
          {% if review.user == request.user %}
				  <a href="{% url 'posts:review-revise' review.id%}">수정</a>
				  <form action="{% url 'posts:review-delete' review.id %}" method="post">
					  {% csrf_token %}
					  <button>삭제</button>
				  </form>
				  {%endif%}
        </div>
      </div>
      <div class="main_detail__review__contents_content">
        {% if review.image %}
				<img src="{{review.image.url}}"/>
				{% else %}
				<p>no image</p>
				{% endif %}
        <div class="main_detail__review__contents_text">
          {{review.content}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content%}
