{% extends 'posts/base.html' %} {% block content %}
<div class="content">
  <form
    action="{% url 'posts:write' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div id="main_write__top">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>1</h2></div>
        <h2>모집 요건을 작성해주세요</h2>
      </div>
      <div id="main_write__top__select">
        <div class="main_write__top__select_row">
          <div class="main_write__top__select_left">
            <div class="main_write__top__select_title">
              <h3>진행방식</h3>
            </div>
            <div class="main_write__top__box">
              <select name="contact" class="main_write__top__box_select">
                <option selected value="default">----------</option>
                {% for key, value in contacts %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="main_write__top__select_right">
            <div class="main_write__top__select_title">
              <h3>모임형태</h3>
            </div>
            <div class="main_write__top__box">
              <select name="duration" class="main_write__top__box_select">
                <option selected value="default">----</option>
                {% for key, value in durations %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="main_write__top__select_row">
          <div class="main_write__top__select_left">
            <div class="main_write__top__select_title">
              <h3>모집인원</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="number"
                class="main_write__top__box_text"
                name="number"
              />
            </div>
          </div>
          <div class="main_write__top__select_right">
            <div class="main_write__top__select_title">
              <h3>지역</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="text"
                class="main_write__top__box_text"
                name="location"
              />
            </div>
          </div>
        </div>
        <div class="main_write__top__select_row">
          <div class="main_write__top__select_left">
            <div class="main_write__top__select_title">
              <h3>모집링크</h3>
            </div>
            <div class="main_write__top__box">
              <input
                type="text"
                class="main_write__top__box_text"
                name="apply_link"
              />
            </div>
          </div>
          <div class="main_write__top__select_right">
            <div class="main_write__top__select_title">
              <h3>개발언어(선택)</h3>
            </div>
            <div class="main_write__top__box">
              <input type="text" class="main_write__top__box_text" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main_write__tag">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>2</h2></div>
        <h2>태그를 입력해주세요</h2>
        <input type="text" name="tag" />
      </div>
      <div class="main_write__tag_write__main">
        <div class="main_write__tag_write__main_title"><h3>태그</h3></div>
        <div class="main_write__tag_write__main_content">
          <input type="text" class="main_write__tag__main_content_input" />
        </div>
      </div>
    </div>
    <div id="main_write__content">
      <div class="main_write__title">
        <div class="main_write__title_num"><h2>3</h2></div>
        <h2>글 제목과 내용을 작성해주세요</h2>
      </div>
      <div class="main_write__tag_write__main">
        <div class="main_write__tag_write__main_title"><h3>제목</h3></div>
        <div class="main_write__tag_write__main_content">
          <input
            type="text"
            class="main_write__tag__main_content_input"
            name="title"
          />
        </div>
        <div id="main_write__content__contents">
          <div class="main_write__tag_write__main_title"><h3>내용</h3></div>
          <div id="main_write__content__write_txt">
            <textarea
              name="content"
              id="main_write__content_box"
              cols="30"
              rows="10"
              placeholder="내용을 작성해주세요."
            ></textarea>
          </div>
        </div>
      </div>
      <div id="main_write__content__btn">
        <button type="submit" id="main_write__content__btn_cancel">
          <h3>취소</h3>
        </button>
        <input
          id="main_write__content__btn_register"
          type="submit"
          value="등록하기"
        />
      </div>
    </div>
  </form>
</div>
{% endblock %}
